[2015-11-08 20:53] bartcone opened #5 "Framework for Carthage support"
Any plans to make this an actual framework so people can use Carthage?

[2015-11-08 21:04] sembsa opened #6 "Problem with struct"
If create new struct, Xcode write me error: Type 'Weather' does not conform to protocol 'Unboxable' I don't know this :(

[2015-11-08 21:05] JohnSundell commented on #6
Can you show me the declaration for `Weather `?

[2015-11-08 21:07] JohnSundell commented on #5
Sure, we can do it! :+1: I can add a thin Xcode wrapper project that builds a framework, so that Cathage can be supported.

[2015-11-08 21:13] bartcone commented on #5
Cool, thanks.

[2015-11-08 22:56] JohnSundell commented on #5
Alright, Carthage should now be supported. Added instructions how to use Unbox with Carthage to the Readme too :)

[2015-11-08 22:56] #5 closed

[2015-11-09 11:00] sembsa commented on #6
`struct Weater: Unboxable {}`

[2015-11-09 11:28] JohnSundell commented on #6
@sembsa You need to implement `init(unboxer:)` in order to conform to `Unboxable`. It's within this method you will perform the actual unboxing. Like this:

[code]

See the `README` for more thorough examples :)

[2015-11-09 11:28] #6 closed

[2015-11-09 11:37] sembsa commented on #6
thanks :) It is my error, sorry. :+1:

[2015-11-09 16:21] JohnSundell commented on #6
@sembsa No worries :)

[2015-11-10 23:41] CraigSiemens opened #7 "Handling Relationships"
I'm running into an error unboxing related objects that are not nested in the json but associated by id. Here's what my setup looks like.

My json looks like this (except with more objects)

[code]

`Vehicle` and `Color` both conform to `Unboxable`.
`Color` also conforms to `UnboxableByTransform` so that `Vehicle` can get the related color by calling
```self.color = unboxed.unbox("color_id")```

S

[2015-11-10 23:56] JohnSundell commented on #7
You're right, a type can't conform to both `Unboxable` and `UnboxableByTransform` at the same time. `UnboxableByTransform` is mostly meant for simple value types that can be transformed from a single piece of data. Should probably add more thorough docs about this :)

So there's a few solutions you could potentially use;

You could either make sure the nested `Color` JSON contains enough informati

[2015-11-11 13:59] rob-nash commented on #7
I don't think this needs to be the responsibility of the unbox library itself, but rather the author of the json. If you don't have control over the structure of the json, then simply unbox it and map the relationships afterwards.

If the json doesn't have a relationship clearly defined, like so

[code]

then the onus is on the user of the library to make that connection.

[code]

[2015-11-11 14:06] rob-nash commented on #7
Transformable is only for changing an int to an enum or a string to a url.

[2015-11-11 16:31] CraigSiemens commented on #7
Thanks for the feedback.

Unfortunately, I have no control over the structure of the json. In reality it is more complex but I simplified it for example sake.

I have come across other APIs that return relationships this way. It's usually to prevent duplication or because the objects are returned by separate API requests.

I'll probably end up sticking with the solution I came up with. Thanks agai

[2015-11-11 16:31] #7 closed

[2015-11-22 02:22] qbraksa opened #9 "Problem with UnboxableEnum"
I'm trying to use `UnboxableEnum`, but so far I couldn't make it work even though I'm using one of the code snippet in the docs (Unbox v1.1) :

**Here's the snippet I'm using :**
[code]

**Here's the 2 errors I'm getting :**

![viewcontroller_swift_ _edited](https://cloud.githubusercontent.com/assets/379453/11321628/7c7f5bbc-90bf-11e5-9a68-a484f4b41bce.jpg)

[2015-11-22 16:28] JohnSundell commented on #9
Sorry about that, that example in the Readme was incorrect. Thanks for letting me know, I've now fixed it :)

What you need to do is to declare an explicit raw value type for your enum. That way the compiler will infer that your enum conforms to `RawRepresentable`, which will enable Unbox to create new instances of it from an unboxed raw value.

Please check the updated example in the Readme and l

[2015-11-22 16:28] #9 closed

[2015-11-23 05:24] qbraksa commented on #9
Thanks! Although the new example didn't work either, here's what worked for me though :

[code]

[2015-11-23 08:32] dowhilenet opened #11 "Array problem"
Hi, how to change an array to model
[code]

[code]

[2015-11-23 09:44] JohnSundell commented on #9
Awesome, thanks a lot! Can't believe I missed the return type :)

[2015-11-24 15:54] JohnSundell commented on #11
Hi!

At the moment the main `Unbox` functions cannot return arrays, only nested arrays are supported, and the root JSON object needs to be a dictionary. However, I've had quite a lot of feedback about this, so I'm planning to add root array support in the next release of Unbox :)

In the meantime, if you have a root array in your JSON, you can use the following workaround:

[code]

Will keep this

[2015-11-25 02:16] dowhilenet commented on #11
Thank you!

谢谢。

I very much look forward to the next version.

[2015-11-26 23:35] JohnSundell commented on #11
Here we go! :) https://github.com/JohnSundell/Unbox/pull/12

[2015-11-28 18:31] #11 closed

[2015-11-29 04:21] dowhilenet opened #13 "About Unbox1.2"
Data:
[code]

[code]
[code]
Then `Error`

 Where is the problem ye

[2015-11-29 12:58] JohnSundell commented on #13
The key `auther` (which should be `author`, I guess) is missing from your JSON data, and since it is a required property the unboxing process will fail, and cause `nil` to be returned from `Unbox()`. Also, the value for the key `id` is of a mismatched type (it's an `Int` but you expect a `String`).

A tip for debugging unboxing errors is to set a breakpoint in `Unboxer.failForInvalidValue(forKey:)

[2015-11-29 12:58] #13 closed

[2015-11-29 15:02] dowhilenet commented on #13
You're right, I was wrong. thank you very much 😄

[2015-11-29 15:03] JohnSundell commented on #13
No problems! Happy to help :)

[2015-12-03 02:16] dowhilenet opened #14 "Do not understand context"
我这些天在学习 `Unbox`，我有一个问题想请教你。`context: Any?`  是什么，有什么作用。我不太明白它是用来做什么的。

google translate:

These days I learn `Unbox`, I have a question to ask you. `context:? Any` What is, what role. I do not quite understand what it is to do.

Please give me an example, maybe I can understand  :)

[2015-12-03 13:31] alexander-johmann opened #15 "tvOS Support"
Please add tvos.deployment_target to podspec

[2015-12-05 09:42] #15 closed

[2015-12-05 09:50] JohnSundell commented on #15
Fixes as of Unbox 1.2.1 :) Thanks for highlighting this issue!

[2015-12-05 09:58] JohnSundell commented on #14
Sure! Unbox supports both optional and required contextual objects. These are objects that will be available during the unboxing process and can be used to make decisions when creating your model, inject dependencies, etc.

When your model conforms to `Unboxable`, a contextual object is always **optional**. If you pass one when starting the unboxing process using `Unbox()` or `UnboxOrThrow()`, it

[2015-12-05 09:58] #14 closed

[2015-12-05 15:07] dowhilenet commented on #14
非常非常非常感谢你。我将会去实际的操作一下

Thank you very very much. I'll go look at the actual operation ：）

[2015-12-15 02:47] shsteven opened #16 "Example for unboxing date property"
Hi John,

Thank you for creating this wonderful library!

Can you please provide an example for unboxing date strings?

[2015-12-15 22:48] JohnSundell commented on #16
Hi Steven,

Happy you like Unbox :)

I was writing an example, but then realized it's about time that Unbox got built-in support for `NSDate` (the number 1 feature request currently) - so, here we go:
https://github.com/JohnSundell/Unbox/commit/3c145600a6bd6f7dcca369c57c0d3bd0ce46bc8b

:rocket:

[2015-12-15 22:49] #16 closed

[2015-12-16 02:04] shsteven commented on #16
My favorite object mapping lib just got better!

[2015-12-16 19:38] JohnSundell commented on #16
:D

[2015-12-26 14:37] Boerworz opened #17 "Unboxing an array of protocol types"
Hey John!

Thanks for making it super simple to decode JSON :)

I've run across a problem with unboxing one of the models in my application, though. I'm using an `Item` protocol, which requires conforming classes to conform to the `Unboxable` protocol as well:

[code]

When trying to unbox a required array of `Item`s in one of the conforming classes, the unboxer fails:

[code]

After spending some

[2015-12-26 14:41] Boerworz commented on #17
I should mention that I'm using Unbox 1.2.1.

[2015-12-27 19:56] JohnSundell commented on #17
Hey Tim,

Happy you like Unbox :)

Yeah, you're right - nested types need to be concrete (such as `Struct`, `Class`, `Enum` etc) in order for Swift to be able to select the proper overload of `unbox()` to use. Since `Item` could refer to any implementation of the protocol, there's no way to select what type to initialize, so Swift falls back to the most generic implementation (with the return type

[2015-12-27 21:06] JohnSundell commented on #17
There you go, `README` updated with a "Debugging tips" section and you can now only use `unbox()` with an array return type of `T: Unboxable`, `T: UnboxableWithContext` or `T: UnboxableRawType` - so more of the type of errors that you encountered will be moved to compile time :) Thanks for bringing this issue to my attention :rocket: :+1:

[2015-12-27 21:06] #17 closed

[2015-12-28 09:54] Boerworz commented on #17
Great updates! A compile time error is a lot better :)
Thanks!

[2016-01-05 02:12] rcdilorenzo opened #18 "Update Object Rather Than Initialize"
@JohnSundell: First of all, I want to thank you for this library. I love it. I'm currently using this in a Mac app I'm working on and am using CoreData for persistence. Currently, I'm performing updates like below but I realize this is a sort of hack to get `Unbox` to fit my model. Is there a way to pass in an `Unbox` object to a function without having it call the `init` method. If you have any g

[2016-01-05 09:34] JohnSundell commented on #18
Hi @rcdilorenzo! Happy to hear that you like Unbox :)

One way to solve this is to use an intermediate data format between your JSON data and Core Data. For example, you could have a `EntityReference` model that contains an `id` (and any other data you get from JSON to be able to perform CoreData lookups for the rest of the data). That way you have decoupled Unbox from your Core Data loading code,

[2016-01-05 15:28] rcdilorenzo commented on #18
That's quite a bit of overhead particularly if you have many models. I've forked the repo and made a tiny change that allowed me to do exactly what I needed. The changes are at https://github.com/rcdilorenzo/Unbox/commit/f54badbfc9bcb7c5b8a536b1d13423f8f03ded88. If you are comfortable making those two things public, I'll create a pull-request. By allowing the creation directly of an `Unbox` object

[2016-01-05 16:31] JohnSundell commented on #18
Yeah that's true. The only danger I see with making `Unboxer` publically initializable is that the `failed` mechanism can't be guaranteed to work properly when used outside of Unbox. An API user might think that the same `Unboxer` instance can be used throughout the application, causing one failed unboxing processs to forever mark it as `failed`. Maybe a static API would accomplish the same thing,

[2016-01-05 19:46] rcdilorenzo commented on #18
That might work, but you'd need to pass in the `NSData` or whatever input to it.

[2016-01-05 19:49] JohnSundell commented on #18
Yeah exactly, the `performUnboxing` method would take either an `UnboxableDictionary` or `NSData` and produce `T`.

[2016-01-05 19:52] rcdilorenzo commented on #18
That would work. I just thought of an idea though. I ended up writing a protocol that requires an `findOrCreate` sort of method and then an `update` sort of method where the `Unboxer` object (and optionally its context) is passed it. I think that might be actually preferable to your suggestion but may not be as flexible in its use cases. What do you think?

[2016-01-07 22:28] JohnSundell commented on #18
Yeah, I think it might be a bit too specific for the scope of Unbox, since the library shouldn't really be aware of the context that it is being used in. Plus, as you say, the static method approach gives us the most flexibility, which will probably unblock other usecases in the future :) I can probably find some time to add the static method API tomorrow.

[2016-01-13 17:48] JohnSundell commented on #18
@rcdilorenzo After some delay the PR introducing the new custom unboxing API is now ready! Please have a look :) https://github.com/JohnSundell/Unbox/pull/22

[2016-01-13 18:04] #18 closed

[2016-01-16 02:09] adamyanalunas opened #23 "Transforming an enum during unboxing?"
Thanks for the helpful library. I'm integrating it into my app now and almost everything is working as expected. Everything except this one case…

Imagine you receive some JSON like this:

[code]

And you have an enum like this:

[code]

And you have a struct like this:

[code]

The problem lies with the JSON sending back a category all lowercase, which does not match the title case of the enum. S

[2016-01-16 15:51] patrickbdev opened #24 "Accessing values from an object in an array"
Hi John, fantastic library!
I was curious if it was possible to do something similar to what ObjectMapper does:
[code]

This is getting **value** from the first object in the JSON **distances** array.
My current workaround is to either create a UnboxableByTransform transformer or in my init create a local array and traverse it.

[2016-01-16 19:28] JohnSundell commented on #23
Hi!

The problem is that your type conforms to both `UnboxableEnum` and `UnboxableByTransform`. A type can only conform to one Unbox protocol, otherwise Swift cannot dispatch to the correct overload of `Unboxer.unbox()` (should probably add a note about this in the `README`).

You can either choose to do your own `String -> Enum` logic using `UnboxableByTranform`, or use `UnboxableEnum` and assign

[2016-01-16 19:39] JohnSundell commented on #24
Hi Patrick,

Happy to hear that you like Unbox :)

The way I've handled similar situations in the past is something like this:
[code]

But it would actually be really nice if Unbox could take care of that automatically. I'll add an API for that!

[2016-01-16 20:03] JohnSundell commented on #24
Done! :) https://github.com/JohnSundell/Unbox/commit/9be5ad33232825141eed8b71f158330891b90044

[2016-01-16 20:03] #24 closed

[2016-01-16 20:08] JohnSundell commented on #23
Added a note to the `README`: https://github.com/JohnSundell/Unbox/commit/1271a5a34a57367e53e7826a58b757b19fe9e76f

[2016-01-17 03:07] patrickbdev commented on #24
Fantastic, thanks so much!

[2016-01-17 17:26] JohnSundell commented on #24
@patrickbdev No worries, let me know if you need APIs for any of the other types, like nested `Unboxable`s or `UnboxableByTransform`. Those can easily be added :)

[2016-01-17 17:26] JohnSundell commented on #23
Closing this for now, let me know if you need any additional assistance :)

[2016-01-17 17:26] #23 closed

[2016-01-18 18:03] adamyanalunas commented on #23
@JohnSundell Thanks for correcting me and adding clarity to the README. I'll do my own string -> enum logic using `UnboxableByTransform`. :+1:

[2016-01-18 22:17] JohnSundell commented on #23
@adamyanalunas No problems, happy to help :rocket:

[2016-01-22 15:01] FOL-APP-Developers opened #25 "Unboxing of heterogeneous arrays"
Hi,

really like the simplicity in your Lib and probably will use it in most of my projects.
But i was wondering if it is Possible to unbox a heterogeneous array with it.
For example i got a JSON like:
[code]
And models like:
[code]
To be able to unbox the animals Array of the `AnimalShelter` i wrote the following:
[code]

But i wasn't able to make the Unbox extension Generic.
I also tried stuff l

[2016-01-25 21:49] JohnSundell commented on #25
Hi,

The problem is that Swift cannot know which concrete implementation of your protocol to use, when the return type is `[T]`, also `[Unboxable]` cannot be compile-time guaranteed to be the same as `[Pet]`. So it does require some more code I'm afraid.

This issue was also discussed here: https://github.com/JohnSundell/Unbox/issues/17

[2016-01-25 21:50] #25 closed

[2016-01-29 15:12] pavankataria opened #27 "Hey, new to unbox"
I'm just trying to get something together here.

I have
[code]
**Agent.swift** just looks like this:
[code]

**Agent.CoreDataProperties.swift** looks like this.

[code]

I'm trying to get the unboxer initialiser working but I'm not sure how to go about doing that since it wants me to call a desginated core data initialiser?
I want to parse some json and get rolling.
Could you perhaps explain how t

[2016-01-31 14:18] pavankataria commented on #27
@JohnSundell just a quick ping. Hope you're having a good weekend.

[2016-01-31 15:32] JohnSundell commented on #27
Hey @pavankataria, sorry for the late reply.

When using Unbox together with Core Data, it usually is easier to use the Custom Unboxing API introduced in Unbox 1.3. Basically it enables you to get more fine-grained control over the Unboxing process (by not using a required `init`), so that you can perform both JSON decoding any Core Data operations in one go.

The reasonining behind the Custom Unb

[2016-01-31 16:42] pavankataria commented on #27
Hey, so I have read that read me, I just didn't know how that would fit in with my current two files that I have especially with the load dependency stuff.

[2016-01-31 16:45] JohnSundell commented on #27
No worries :) Did my reply clear things up, or do you need any further assistance?

[2016-02-02 13:39] transat opened #28 "Question / Feature request: Unbox and JSON keys containing spaces"
Will unbox work if the JSON keys contain spaces?

For example, if I have:

[code]

[2016-02-02 21:12] JohnSundell commented on #28
Sure, you can just use the keys as they are in the JSON, like this:
[code]

[2016-02-02 21:12] #28 closed

[2016-02-02 21:18] JohnSundell commented on #27
Sure, here is some example code:

[code]

In what file you put this code is completely up to you. Perhaps create a `AgentLoader` or put the code inline where you're loading your data, or add an extension on `Agent`.

The Custom Unboxing API only supports `Dictionaries` right now, so with the current API you'd have to iterate over the dictionaries, unboxing each one, but we could always add a Custo

[2016-02-02 21:18] #27 closed

[2016-02-05 03:44] sandalsoft opened #29 "Support for '.' in JSON key name"
I'm receiving JSON from a source that has periods(.) in the key names (see below)

Attempting to use the key name returns nil.
`self.sourcePort = unboxer.unbox("_source.src.port")`

A period in key names is valid JSON.  Looking into the code, I can see the key is split into components on the . character for key path support, so I'm not even sure what I would do to 'fix' the issue.  I played around

[2016-02-05 04:34] transat commented on #28
great. thanks.

[2016-02-05 08:17] mr-v commented on #29
Oops, looks like I'm the one to blame for that (#4). Was thinking for some time about changing it to more explicit API, e.g. `unboxer.unboxKeyPath(["_source", "app"]`). Didn't find time for making that change/pull request unfortunately.
The way it works now was convenient at the time, but I admit it's a little hacky.

[2016-02-05 18:46] mr-v commented on #29
Looks like adding `unboxKeyPath` would require adding implementations mirroring each `unbox` overload. There are a lot of those, so need to make sure if the following approach is right: extract deepest dictionary and key, call right overload, make sure it works with test. Here's sample implementation for UnboxableRawType: https://github.com/mr-v/Unbox/commit/815b4046278ab1f3d347f377e096873873153ba

[2016-02-06 20:52] JohnSundell commented on #29
@mr-v Yeah I don't think adding additional overloads for keypaths is a good idea. It'll be a lot of extra code that'll easy get out of sync with the normal non-keypath API. One way to solve this would be to add a `isKeyPath` bool argument to each `unbox()` overload (with a default `false` value). That way you have to explicitly say that you want Unbox to treat your string as a keypath, so that iss

[2016-02-07 12:34] mr-v commented on #29
Agree, it could be hard to maintain and file would grow a lot.

What about this implementation? ([commit](https://github.com/mr-v/Unbox/commit/75ff84cfe2e590f0c6547bf901716273fd50f48d))
[code]

Handling `isKeyPath` in each overload would be limited to adding

[code]

and  using `unboxer` and `finalKey` with `UnboxValueResolver`.

[2016-02-07 21:57] #29 closed

[2016-02-07 21:58] JohnSundell commented on #29
@mr-v Solved it with a combination of your suggestion and moving the actual check to `UnboxValueResolver`. Thanks for your input! :)

@sandalsoft The issue is fixed, will prepare a new release.

[2016-02-07 22:05] JohnSundell commented on #29
@sandalsoft New release published, both here on GitHub and on CocoaPods. Update to `1.3.1` to get the fix.

[2016-02-07 23:34] sandalsoft commented on #29
Daaaaamn, you guys rock!!  Thanks a bunch, I'll test this out tomorrow.

[2016-02-07 23:48] JohnSundell commented on #29
@sandalsoft :rocket:

[2016-02-09 03:41] sandalsoft commented on #29
I just tested this and it's not working for child keypaths that have a . in the key name.

json:

     "_id": "5951785333"
     "_source": {
        "emailsender": "",
        "app": "smtp",
        "src.countrycode": "VN",
        "dst.port": 25,
     }

parsingClass.swift
[code]

Sample.swift

[code]

`self.sourcePort = unboxer.unbox("_source.src.countrycode", isKeyPath: true)` returns nil.  Whi

[2016-02-10 01:07] JohnSundell commented on #29
Yeah, you won't be able to combine a keypath with a key with a dot in it. I think this is a reasonable tradeof as the keypath API is a convenience in the first place (the alterantive would be to introduce all the overloads that we talked about earlier and do an array-based API for keypaths, which will be too heavy).

The way I usually solve nested dictionaries (regardless of if they have a dot in

[2016-02-24 10:22] timlentonBCGDV opened #32 "Enum fallback not working (Unbox 1.3)"
If I have an optional enum property then the fallback method is not called and the optional is nil, and if I have a non-optional enum property then the fallback method is called however Unbox fails.

enum Bar: String, UnboxableEnum {
  case Bar1
  case Bar2
  public static func unboxFallbackValue() -> Bar {
    return .Bar1
  }
}

class Foo: Unboxable {
  var bar: Bar
  required init(unboxer: Unbo

[2016-02-24 10:24] timlentonBCGDV commented on #32
(Basically I think the fail state should be cleared if the fallback is used)

[2016-02-24 20:27] timlentonBCGDV commented on #32
There is another case also - where you have a non-optional enum property and you want to fail the Unbox if a matching enum value is not in the JSON. Could this be achieved by making the fallback method in the UnboxableEnum protocol optional instead of required?

[2016-02-25 19:36] JohnSundell commented on #32
The `unboxFallbackValue()` method is only called by Unbox if the decoding of a required value failed, and it needs a dummy value to assign to the property before failing the process. From the documentation:
[code]

To assign a default value in case one can't be found, you want Swift to treat your value as an optional, which will call the correct `unbox()` overload on `Unboxer`, like this:

[code]

[2016-02-29 01:21] timlentonBCGDV commented on #32
Thanks for getting back John, I've got it now - the unboxFallBackValue is purely there to facilitate the fail on an non-optional enum.

All this actually came up while I was trying to abstract the unboxing code from the models themselves. But if I put the unboxFallbackValue() method in an extension on the enum it causes a segmentation fault on build unless the extension is in the same swift file a

[2016-03-03 05:18] timlentonBCGDV commented on #32
Avoided the segmentation fault issues by giving up on the idea of abstracting the unboxing code from my models.

[2016-03-03 05:18] #32 closed

[2016-03-03 23:42] JohnSundell commented on #32
@timlentonBCGDV Hi again, sorry for the late reply.

You're encountering the segmentation fault because Swift cannot resolve an implementation to call if you're using protocol types. Check out this discussion for more info: https://github.com/JohnSundell/Unbox/issues/17.

If you want to keep your unboxing code out of your models, then the Custom Unboxing API (introduced in Unbox 1.3) is the way to

[2016-03-03 23:59] timlentonBCGDV commented on #32
Thanks again John, I'll check out the Custom Unboxing API (I got my version numbers mixed up there apologies, I already was on 1.3).

[2016-03-04 12:32] AndreyPanov opened #33 "Support with failable initializers in Unboxer"
I want to create struct like:
[code]
But I get the error `Non-failable initializer requirement 'init(unboxer:)' cannot be satisfied by a failable initializer ('init?')`.
Why is this feature not supported?
Thank you!

[2016-03-05 18:11] JohnSundell commented on #33
Hi!

The good news is that Unbox takes care of this for you, so you don't need to fail an initializer manually. If Unbox can't decode a required property (like `id`) in this case, the Unboxer responsible for the decoding will be marked as `failed`, and `nil` will be returned from the `Unbox()` call that started the decoding process. So this code will be all you need:

[code]

Since `avatar` is an

[2016-03-06 14:00] JohnSundell commented on #33
OK if I close this issue, or do you still need the failable initializer given the info above? :)

[2016-03-06 18:36] AndreyPanov commented on #33
John, thank you for you answer!
I think you can close :)

[2016-03-06 18:37] JohnSundell commented on #33
Cool :)

[2016-03-06 18:37] #33 closed

[2016-03-12 15:37] knutnyg opened #34 "Unboxing nested Arrays"
I am trying to get Unbox to work with my app, but I'm stuck at unboxing the JSON from an endpoint I'm consuming.

The response is of type:
[code]
I can't for the life of me get unbox to work with a nested array of type [[Double]]. Is this not supported? Any help is greatly appreciated :)

[2016-03-12 17:36] JohnSundell commented on #34
Hi @knutnyg! You're right - this is not supported yet - but it definetly should be! I think the fix would be to finally promote `Array` to an `UnboxableRawType`, this however, will require some more changes to make sure supporting nested arrays of `Unboxable` types are still handled correctly. I'll see if I can work on a fix tomorrow :)

[2016-03-13 07:01] knutnyg commented on #34
Cheers! :+1:

[2016-03-15 07:02] idevsoftware opened #35 "Properly unbox an array of different classes/models?"
Hi @JohnSundell. I've been using Unbox during the last few weeks for a new project I'm developing and it works great. Recently I came across a requirement which I'm not entirely sure how to tackle. As part of a JSON response I'm getting an array of dictionaries, each entry corresponding to a member of a local (Unboxable) class I have. However, the exact class type depends on a certain value in the

[2016-03-21 04:16] Shun-Nakahara opened #37 "Module file's minimum deployment target is ios9.2 v9.2"
Module file's minimum deployment target is ios9.2 v9.2: /Users/*/Build/Products/Debug-iphonesimulator/Unbox.framework/Modules/Unbox.swiftmodule/i386.swiftmodule

thank you,

[2016-03-21 21:57] JohnSundell commented on #37
This should fix it: https://github.com/JohnSundell/Unbox/commit/388571bcdc8fdbded865b3010a2f501cfa32d979 Let me know if you experience any other issues.

[2016-03-21 21:57] #37 closed

[2016-03-21 22:16] JohnSundell commented on #35
Hi @idevsoftware! Sorry for the late reply. This fix should do it: https://github.com/JohnSundell/Unbox/commit/d0c1240d67f6dd964ab7871a0728480ae20850dc

I've expanded the `Custom Unboxing` API to cover arrays of dictionaries as well, so that you can get more fine-grained control over the unboxing process for each element. See the associated test for usage example.

Let me know if there are any oth

[2016-03-21 22:16] #35 closed

[2016-03-24 20:28] idevsoftware commented on #35
👍👍👍

[2016-03-29 17:04] basememara opened #39 "Unbox with fallback value?"
Great library, thanks for sharing! Much appreciated for creating a slim and un-invasive object mapper, unlike almost all others out there :)

I'm trying to unbox a complex JSON endpoint into an array of custom types like this:
`let items: [Post] = Unbox(data)`

In my `init`, I set one of my properties like this:
`thumbnailHeight = unboxer.unbox("featured_image.attachment_meta.sizes.thumbnail.heigh

[2016-03-29 20:16] basememara commented on #39
Thanks for getting back to me. I realized there was something else that was tripping me up, not default values. Regarding the default values though, what I wanted to keep my properties as non-optional? Since `??` couldn't be used in that case, the `fallbackValue` can fill it in. #40 is supposed to extend that option.

What was really tripping me up was I was using `Unbox` not `UnboxOrThrow`, so it

[2016-03-29 21:14] basememara commented on #39
Ah I see what you're saying, true I can simply unbox it temporarily then assign it to the non-optional property later - doh! You can disregard #40, was good to dig through the library anyway :)

[2016-03-29 21:23] JohnSundell commented on #39
Cool :) I'll close this issue and https://github.com/JohnSundell/Unbox/pull/40 for now, and we can continue the discussion in #41 :)

[2016-03-29 21:23] #39 closed

[2016-03-30 13:10] idevsoftware opened #42 "Make static method unboxerFromData() public"
Hi @JohnSundell, it's me again.

Is there a hard reason why `unboxerFromData()` is a private static method? There are cases where it would be useful to have an `Unboxer` object instantiated and ready without immediately initializing an `Unboxable` object instance. I have one of such cases right now.

I am currently using a persistence model for my data (Realm in my particular case, but it could be

[2016-03-30 14:27] idevsoftware commented on #42
Also related - `Unboxer`'s `init(dictionary, context)` should be public as well

[2016-03-30 18:48] JohnSundell commented on #42
Hi @idevsoftware!

The reason both `Unboxer`'s initializer and the related static construction methods are private, is in order to guarantee that an instance of `Unboxer` is only used in a single unboxing process. Since `Unboxer` keeps state; the current data that is being unboxed and any error that occured - it only makes sense to be used in a single process - and if we allowed creation of them o

[2016-03-30 18:49] JohnSundell commented on #34
Sorry this has taken so long @knutnyg! A lot of other things have come up in between, haven't forgotten about this though! Hope to be able to prepare a fix asap :)

[2016-03-31 04:28] idevsoftware commented on #42
Wow. I keep forgetting how powerful the custom unboxing API is. Thanks!

[2016-03-31 04:28] #42 closed

[2016-04-04 16:04] pjechris opened #44 "Add serialization?"
While the lib is very good at unserialization, it does not support serialization. This is very common to do both inside an application.
Will it be considered to add serialization to the lib?

Cheers!

[2016-04-04 16:06] JohnSundell commented on #44
Hi @pjechris! For that, check out Wrap - which is Unbox's serialization counterpart: https://github.com/JohnSundell/Wrap

[2016-04-04 16:06] #44 closed

[2016-04-12 13:02] pavankataria commented on #34
How's it coming along? :D

[2016-04-12 13:05] pavankataria opened #45 "Unboxing an enum with two key payload"
Take the following json payload:
[code]
were id can range from -1, 1,2,3, and 4; mapped to None, North, East, South, and West respectively.

Then take the following enum I created:

[code]

How would unbox know how to take the ID and map accordingly to the correct case? Especially if the enum_value should be ignored?

[2016-04-19 20:45] JohnSundell commented on #45
Either you just use the numeric value in `id`, like this:

[code]

or, you make `CardinalDirection` conform to `UnboxableByTransform` and use a transformation based on the string value and/or id value.

Swift automatically dispatches to the correct `Unboxer` overload because it has an implementation where `T: UnboxableEnum`, which uses `T.RawValue` (which it gets from `RawRepresentable`, that it e

[2016-04-19 20:45] #45 closed

[2016-04-22 07:05] sasikiran opened #47 "Unboxing an array of strings"
How do I unbox an array of strings [String] "statuses" in the below JSON example? Looks like this is not yet supported?

[code]

[2016-04-26 10:55] krystiansliwa commented on #34
Do you have any fix for that?

[2016-04-27 09:20] Abizern opened #48 "Duplicate plists exist for framework and test targets"
There are currently individual plist files for each of the framework and test targets.

As they are essentially the same (the OSX plist file has an extra string for human readable copyright) a single plist can be used for the test targets and a single one can be used for the framework targets.

[2016-04-27 11:08] #48 closed

[2016-04-27 11:45] JohnSundell commented on #47
Hey @sasikiran! It's indeed supported, just call `unboxer.unbox("statuses")` just like you would for any other piece of data. Here is some example code that works for the JSON you provided:

[code]

[2016-04-27 11:45] #47 closed

[2016-04-28 18:27] JohnSundell commented on #34
@knutnyg @pavankataria @krystiansliwa: Finally got time to work on this 🎉 Sorry for the delay, but this patch fixes the problem: https://github.com/JohnSundell/Unbox/issues/51

[2016-04-28 18:31] #34 closed

[2016-04-28 20:39] acecilia opened #52 "Unbox crashing in iOS7 with BAD_ACCESS"
In any line initiating an object of type "UnboxValueResolver" unbox is experiencing a runtime crash with BAD_ADDRESS due to a bug in the compiler reported [here](https://bugs.swift.org/browse/SR-1201) and [here](https://bugs.swift.org/browse/SR-815). Seems happening just in iOS7 (I tested it in a real iPhone4 with iOS 7)

Not an issue of Unbox, but is good to have it in mind (and not waste 2 hours

[2016-04-28 21:10] JohnSundell commented on #52
Unbox doesn't support iOS7, it's iOS8+. Should probably clearify that in the README though, will fix :)

[2016-04-28 21:28] JohnSundell commented on #52
README updated :)

[2016-04-28 21:28] #52 closed

[2016-05-01 09:53] maxday opened #54 "Unbox nested array"
Hi,

First, thanks for your work, this project is really cool :)

Is there a way to Unbox nested toys array ?
I would like to use something like

    let arr : [Toy] = try UnboxOrThrow(data)

But is there a way to map nested array ?
Here is my sample data

    {
        "content": "Toys",
        "toys": [{
            "id": "12",
            "title": "superToy"
        }, {
            "id": "13"

[2016-05-01 09:59] JohnSundell commented on #54
Hi @maxday, happy you like Unbox! :)

Sure, you can do this! All you need to do is wrap the array in an object (since your root data structure is a dictionary, not an array), and then you can just call `unboxer.unbox()` on the array and have Unbox automatically decode all of the dictionaries in the array into `Toy` instances. Like this:

[code]

Now you can unbox an array of `Toy` like this:

[cod

[2016-05-01 10:15] maxday commented on #54
Cool :)
Thanks for your quick answer :D

[2016-05-01 10:16] JohnSundell commented on #54
@maxday No problems, let me know if you run into any other issues 👍

[2016-05-01 10:16] #54 closed

[2016-05-02 11:03] hunaid-hassan-confiz opened #55 "Parse String to Int"
I have a `price` property in my JSON model which I receive as String but I want to parse it to Int upon unboxing so I dont have to typecast it everywhere I use it. Is there a documented way of doing it?

[2016-05-02 11:16] hunaid-hassan-confiz commented on #55
I ended up doing this
`price = Int(unboxer.unbox("price") as String)!`

[2016-05-02 20:00] JohnSundell commented on #55
Hi @hunaid-hassan-confiz! Thanks for highlighting this issue, we should definety add a 1-liner so that you can just do `unboxer.unbox("price")`! 👍

[2016-05-03 22:09] JohnSundell commented on #55
This commit implements what you're looking for: https://github.com/JohnSundell/Unbox/commit/2fa63dd92701b751f5c9fdbee736c1665cfec0f8

Now you can just do:

[code]

Which will convert a string for that key into a number of the type that you're expecting.
Will make a new release soon that includes the fix :)

[2016-05-03 22:09] #55 closed

[2016-05-04 08:12] hunaid-hassan-confiz commented on #55
Great job, sir :)

[2016-05-04 08:46] hunaid-hassan-confiz commented on #55
Functionality works as expected but the unit tests are not testing the functionality properly I guess.
Have a look at the note i posted in the mentioned commit.

[2016-05-04 19:05] JohnSundell commented on #55
Thanks again for that comment - totally missed that! 👍 This commit corrects the test: https://github.com/JohnSundell/Unbox/commit/975784378c724c7bb5043a1fca0f80f5f7c96399

[2016-05-11 21:05] douglasalexandre opened #58 "Unbox not parser a simple String"
I had a problem with `Unbox` if I have a 'response` JSON` with a simple `string` instead of an `array` or an `object` in `swift 2.2`
[code]
`Class Model`
[code]
`JSON Response API`
` null({"id":7,"name":"uniplam","token":"uniplam","urlAccess":"https://X.XX.XXX.0:8082/uniplam/"})`

The Object Parse will try to parse a JSON to a model using the Unbox framework

[code]

I believe that `Unbox` don't p

[2016-05-11 21:50] JohnSundell commented on #58
Hi @douglasalexandre,

If the string that makes up your `NSData` that you pass when initializing your `ObjectParser` starts with `null(` (as in the example), then it's not valid JSON. Valid JSON must have either an Array or Dictionary as its root object - and it looks like the server you're getting the data from is using JSON-P to wrap the returned JSON in a Javascript function call (that in this

[2016-05-12 10:42] RyogaK opened #59 "More failed information."
Now there are top level key and value as `UnboxError.InvalidValue`.
However, often there is a case of the cause is there in under 2nd level.

e.g.
[code]
Unbox tell me just `hoge` is invalid. I hope to know `id` is missing.

[2016-05-12 11:42] douglasalexandre commented on #58
Hi, @JohnSundell
Thanks for the answer. I checked the `JSON` and it's wrong!
This is correct `Json`
[code]
But anyway, the error still occurs.

[2016-05-13 02:51] bre7 commented on #58
First time using Unbox (already loving it)...It'd seem that you defined the model incorrectly.

`let id :String` but the server returned an Int. So either the response is wrong or id's type is.

[2016-05-13 03:05] bre7 commented on #59
How did you define your Unboxable model ? Since there's an object, you should use 2 structures to define it (The 2nd level could be a Dictionary also)

E.g. using 2 structs:
[code]

[2016-05-13 11:53] douglasalexandre commented on #58
ok, @JohnSundell I will try. Thanks for the answer! :)

[2016-05-13 18:08] JohnSundell commented on #58
@douglasalexandre Yeah, what @bre7 says is right - if you're expecting an `Int` value then your property should be an `Int` as well, optionally you could also do:
[code]

[2016-05-13 18:08] #58 closed

[2016-05-13 18:11] JohnSundell commented on #59
We should totally improve the error reporting in this case. The error should ideally say something like:
[code]
Will work on that 👍

[2016-05-13 18:38] douglasalexandre commented on #58
@JohnSundell @bre7 Ok. Thanks for help me. Really the server is returning a `JSONP`, so, it isn't valid `JSON`. I modify my model like you spoke, with right types. We will modify our server :)

[2016-05-16 07:21] Evertt opened #62 "Would you guys be willing to maintain a Swift 3 branch?"
I implemented Unbox in a Swift 3 project and I had to change quite a bit of code to be able to do that. So I would really like it if you guys would be willing to maintain such a branch. I'm willing to share with you my version so that you don't have to do that work now.

I just did a few simple find-and-replace functions for now to make it work, but maybe in the future I'm also willing to change e

[2016-05-16 07:27] Evertt opened #63 "[Feature request] add subscript access"
I'm a very big fan of clean and minimal syntax, which is why I fell in love with Unbox in the first place. That is why I would love subscript access, because that can change this:

[code]

Into this:

[code]

And of course for the more advanced unboxing one could still do the normal `box.unbox()`.

I like it, how about you guys?

[2016-05-16 10:41] Evertt opened #64 "[Feature request] return an array of failures instead of a single failure"
When I do:

[code]

If it fails, then I would like to know *everything* I did wrong, not just the first or last error that arose. In my local version I already changed the code so it gathers all the failures and then returns it as an array. Would you be open for a PR for this feature?

[2016-05-16 10:55] Evertt commented on #63
Hmm, shit, I now see that subscript access is not possible with generics... :-(

That sucks... I wonder if that is by design or just because the makers of swift wanted to focus on other stuff first.

[2016-05-16 16:52] RyogaK commented on #59
@bre7 Yes, I did it.
@JohnSundell Thanks. I tried to do that, in my fork, but I couldn't well...
I'm looking forward to that 😆

[2016-05-17 10:40] jeetendradesai786 opened #65 "Enum issue"
Dear John,

I am getting exception for Enum data type

Ex.
enum Profession : Int, UnboxableEnum {
    case None = 0
    case Developer
    case Astronaut

    static func unboxFallbackValue()-> Profession {
        return None
    }
}

struct Employee : Unboxable {
    let profession:Profession
    init(unboxer: Unboxer) {
      self.professionIndex = unboxer.unbox("Profession")
///// JSON have in

[2016-05-18 17:29] eloquentbit opened #66 "Compilation errors with Swift 2.1.1"
Hi John,
I've added Unbox to one of my projects but when I build it I obtain a series of error messages regarding Unbox.swift like 'ContextType is not a member type of T'
My Swift version is 2.1.1 and Xcode 7.2.1
Thank you
Luca

[2016-05-18 20:34] douglasalexandre opened #67 "Handler response only with 200"
I am use Unbox in my project, however on request with server, the return is only `true`, a `String` . Is there any way to parser it with `Unbox`? Some trick of a Model for it?

[2016-05-19 13:45] JohnSundell commented on #67
HI @douglasalexandre. The response that you are getting is not a JSON object, and can therefor not be handled by Unbox, `NSJSONSerialization`, or any other API that handles JSON. It's easier if you just decode the `NSData` that you downloaded into a `String` and compare it to `true`.

[2016-05-19 13:45] #67 closed

[2016-05-19 13:48] JohnSundell commented on #66
Hi @eloquentbit, you'd have to use an older version of Unbox that was written for this version of Swift. The current release has been updated for Swift 2.2 and that's why you're seeing these errors. Try Unbox 1.3.1 (use the git tag `1.3.1`, or update your dependency manager manifest). Does that solve your problem?

[2016-05-19 13:53] JohnSundell commented on #65
Hi @jeetendradesai786,

The built-in support for decoding `enums` is based on their `rawValue`. So if you are expecting something else (like `>= 3` in this case), you'd have to make your `enum` conform to `UnboxableByTransform` and write your own mapping code. Another alternative would be to unbox the underlying integer, and then handle it in your `init(unboxer:)` implementation (like I think you

[2016-05-19 13:55] JohnSundell commented on #64
Hi @Evertt, sounds like a great improvement! I agree that sometimes the debugging process can be a bit annoying, since you only get one error at a time (and if a nested error occured, you don't really know which model caused the error). Feel free to submit a PR! 👍

[2016-05-19 13:57] JohnSundell commented on #63
@Evertt Yeah, I actually started implementing Unbox using subscripting, but quickly realized that it wasn't possible :/ As you say, I think it's just a limitation and something that hasn't been implemented yet. Do you know if this has been discussed on the Swift Evolution list/repo?

[2016-05-19 13:58] JohnSundell commented on #62
We should totally have a Swift 3 branch, just haven't had any time to start working on it yet 😞 Feel free to submit the changes you made in a PR and I'll take a look 👍

[2016-05-19 13:58] JohnSundell commented on #59
Related to https://github.com/JohnSundell/Unbox/issues/64, we'll start work on this soon :)

[2016-05-19 14:24] douglasalexandre commented on #67
Ok, @JohnSundell. In fact, Its was just doubt! :) Thanks for answer. 👍

[2016-05-19 14:24] JohnSundell commented on #67
No problems 👍

[2016-05-19 17:26] Evertt commented on #63
Yes I've seen it appear in [the swift evolution mailing list](https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20160229/011666.html), but unfortunately it seems to have been put on hold recently, because the core-team is getting a bit overwhelmed and they wouldn't be able to finish everything before swift 3 is supposed to come out.

So I think generic subscripts are probably coming in

[2016-05-20 05:22] lp76 commented on #66
Hi @JohnSundell, thanks for your help. I'll update my Swift version.

[2016-05-20 05:23] eloquentbit commented on #66
Hi @JohnSundell, thanks for your help. I'll update my Swift version

[2016-05-22 11:12] JohnSundell commented on #66
@eloquentbit No problems! 👍

[2016-05-22 11:12] #66 closed

[2016-05-22 11:12] JohnSundell commented on #65
@jeetendradesai786 Closing for now, let me know if the solution I suggested above doesn't work :)

[2016-05-22 11:12] #65 closed

[2016-05-22 11:26] JohnSundell commented on #63
Ah that's too bad :/ Understand that fully completing the generics implementation and adding support for things like subscriping is very hard though. Closing this issue for now as it's not something that we can do within the near future. Let's revisit once Swift supports subscripting for generics :)

[2016-05-22 11:26] #63 closed

[2016-05-22 12:06] JohnSundell commented on #62
Working on this now 🚀

[2016-05-22 14:34] jeetendradesai786 commented on #65
Hi John,

Thanks for the help.
Solution given works fine.

Get Outlook for iOS

On Sun, May 22, 2016 at 4:13 AM -0700, "John Sundell" <notifications@github.com> wrote:

@jeetendradesai786 Closing for now, let me know if the solution I suggested above doesn't work :)

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-23 19:49] #64 closed

[2016-05-23 20:14] JohnSundell commented on #59
@RyogaK Error reporting is now a lot better (thanks to @Evertt), since https://github.com/JohnSundell/Unbox/pull/68. Let us know what you think!

[2016-05-24 20:38] JohnSundell commented on #62
The Swift 3 branch is here! Will still do a lot of work to make the APIs feel more at home in Swift 3, but it compiles, works and all tests are passing; https://github.com/JohnSundell/Unbox/tree/swift3

[2016-05-24 20:38] #62 closed

[2016-05-25 06:16] Evertt opened #70 "When I include Unbox as a dependency in my Swift 3 project, I get the Swift 2 version"
I'm using the Swift Package Manager by the way.

[2016-05-25 09:45] JohnSundell commented on #70
@Evertt Is there a way to get SPM to use a specific branch of a project (the `swift3` branch in this case)? If not, it doubt that it will be possible to use Unbox (or other non-Swift 3-only projects) until the launch of Swift 3 - where we can make a proper release that supports it. Very open for suggestions though :)

[2016-05-25 11:39] Theome opened #71 "Unboxing CGRects from custom format"
I have JSON files that encode `CGRect`s as arrays, for example `r = CGRect(x: 10, y: 10, width: 100, height: 200)` is represented as `{ "r":[10,10,100,200] }`.

Writing a wrapper for Wrap is easy:
[code]

But now I'm trying to implement the inverse. Is it possible to add support for this format to Unbox by writing the right extensions for `CGRect`? As far as I understand, all solutions using `Unbo

[2016-05-25 18:27] JohnSundell commented on #71
Hey @Theome, you're right - using `UnboxableByTransform` is currently restricted to `UnboxRawTypes` (like `Int`, `String`, etc) - but that should definetly be fixed! Will work on a fix right now :)

[2016-05-25 18:37] JohnSundell commented on #71
This commit fixes the problem: https://github.com/JohnSundell/Unbox/commit/94f20e380334d0ab35778521f250123c81ffca1b

Now any type can be used as a raw value for a type conforming to `UnboxableByTransform`, so you can implement an extension for `CGRect` like this:

[code]

Will make a new release with the change tonight :)

[2016-05-25 21:13] JohnSundell commented on #71
The release has now been 🚢ed! Update Unbox to `1.6` to get the fix :)

[2016-05-25 21:13] #71 closed

[2016-05-26 08:24] Theome commented on #71
Great! Thank you very much :)

[2016-05-27 12:42] pavankataria opened #72 "How to unbox Int 64 values with unbox during deserialisation?"
Hey, I get a `No 'unbox' candidates produce the expected contextual result type 'Int64'` error when trying to unbox a value for a Int64 data type. What is needed to get this working?

Is it a case of adding the following?

[code]

I don't understand how this might make things work if that is the correct way to resolving 64 int types from a json payload.

[2016-05-27 13:48] Samback opened #73 "How to parse objects that placed on custom key?"
Hello I have faced with such an issue:

[code]

How can I parse them correctly?

Regards,
Max

[2016-05-27 14:25] Samback commented on #73
I have done this on such a way
[code]
But I think Unbox should support this from box :) . What do you think? I can try to contribute this implementation.

[2016-05-27 14:29] ivasic commented on #73
There's a similar question answered here: #54

[2016-05-27 14:32] Samback commented on #73
You see I think it's not the best idea create a new struct for each one of such situations.

[2016-05-27 23:08] Evertt commented on #70
Well what I've seen other packages do is that they match their major version-numbers to that of Swift. You could do that to. So have a 2.x version for Swift 2 and a 3.x version for Swift 3. Would you be okay with doing that?

[2016-05-28 09:12] JohnSundell commented on #72
Hey @pavankataria, I just added support for implicit integer conversions to a number of numeric types, including `Int64`: https://github.com/JohnSundell/Unbox/commit/59bc90bba8383407d22de43ba6a33d04fddfe2b8

Will make a release including this fix during the day :)

[2016-05-28 09:12] #72 closed

[2016-05-28 09:14] JohnSundell commented on #73
Hi @Samback & @ivasic. I agree, it would be great if Unbox could handle this, since it seems to be a pretty common usecase. @Samback, feel free to contribute a solution if you have one in mind :)

[2016-05-28 09:16] JohnSundell commented on #70
Not sure if I think making full-blown releases for a language version that is still in development is such a good idea actually :/ I do plan to bump Unbox to 2.0 once Swift 3 support is released, since it will be a major breaking change. However, I don't think the Swift 3 implementation is ready for release yet, both because of Unbox and because it's still a moving target. In the meantime, you can

[2016-05-28 10:13] Evertt commented on #70
Yes that would be okay for now. :-)

[2016-05-28 10:13] #70 closed

[2016-05-28 10:21] JohnSundell commented on #70
Awesome :)

[2016-05-30 07:02] Schaltfehler opened #74 "isKeyPath default's value"
Hi John,
Thank you for this nice project!

The other day I was wondering if there was a deeper reason for having the `isKeyPath` parameter because [here](https://github.com/JohnSundell/Unbox/blob/master/Sources/Unbox.swift#L712) you check for `isKeyPath` and `key.containsString(".")` which would make `isKeyPath` kind of unnecessary. But you probably want to stay true to the [json definition](http:

[2016-06-01 08:29] JohnSundell commented on #74
Hi @Schaltfehler! Happy you like Unbox :)

See this discussion for the reasoning behind the `isKeyPath` parameter: https://github.com/JohnSundell/Unbox/issues/29.

However, I do agree with you, it's much more common to use `.` as a keypath than an actual key, so we should indeed change the default value to `true` :)

With Swift 3, I'm also considering making `key` and `keyPath` different argument

[2016-06-02 06:14] Schaltfehler commented on #74
That looks good.
Clear, easy to understand of keeps the "control parameter" `isKeyPath` out.

[2016-06-04 19:49] JohnSundell commented on #74
Fixed in https://github.com/JohnSundell/Unbox/commit/1a9edde98d065d01777bf55d3c8cfa6409eea118 🚀

Will make a new release now!

[2016-06-04 19:49] #74 closed

[2016-06-04 23:19] bennokress opened #76 "No 'Unbox' candidates produce the expected contextual result type 'StructName?'"
I'm very new to JSON and also relatively new to Swift, so I'm hoping that I'm not asking a stupid question here.

What I'm trying to do is unbox an API Response like the one below, where I want to get some values of the "items". The response has 507 items at the moment … so right now i would like to get an array with 507 objects of the Struct `Car`, which is conforming to Unboxable.

[code]

To ma

[2016-06-05 12:11] JohnSundell commented on #76
Hey @bennokress! Not a stupid question at all :) I'm happy to help!

The problem here is that you need to call `Unbox` using the `do try catch` pattern, or alternatively call it using `try?` if you prefer to have an optional returned. Also, `items` shouldn't be an array of `String` (in UnboxCarResponse`), but rather an array of `Car`. Here is some corrected code:

For `UnboxCarResponse`:
[code]

F

[2016-06-05 13:26] bennokress commented on #76
Works like a charm, thanks for the quick help!

[2016-06-05 13:26] #76 closed

[2016-06-08 11:22] milancermak opened #78 "Use fallback value when unboxing enum"
Hi,
I'm thoroughly enjoying Unbox and Wrap combo. Very nice libs, thanks.

I ran into one issue though. Consider the following code:
[code]

This code fails with an error saying something along the lines of "invalid value (mars) for key (target)". However I was expecting it to create the `event` with `target = .unknown`, as that is set as the *fallback* value for the enum.

I noticed that in #65 y

[2016-06-08 15:47] smashkins opened #79 "Date with key support"
Hy! I've this fake json:
[code]

How to unbox date with key path support ?

[2016-06-08 16:00] smashkins commented on #79
Ok. I resolved it

[code]

[2016-06-08 20:31] JohnSundell commented on #79
Yeah since your dates are properties of nested dictionaries, you'll have to unbox them separately. Alternatively, you could always write an extension on `Unboxer` that does what you need.

[2016-06-08 20:31] #79 closed

[2016-06-08 20:36] JohnSundell commented on #78
Hi @milancermak,

Happy to hear that you like Unbox & Wrap 🎉

The `unboxFallbackValue()` method is only used to provide a "dummy" value to a non-optional property, so that Unbox can take care of keeping track of error states, and the model initializers can be kept clean of such logic. It's documented like this:

[code]

If you want to provide a default value instead of failing, all you have to do

[2016-06-08 20:36] #78 closed

[2016-06-09 09:37] milancermak commented on #78
Hey John,

thanks for the swift reply 😎

I know that I can use the `?? defaultValue` idiom and in fact I do in other places of my models.

 However in this case of unboxing the enum value, I expected the `unboxFallbackValue` will be used, exactly because it's a fallback value. That's how I understand the public API of Unbox. Adding a `?? .unknown` is, in my view, an unnecessary repetition.

Even t

[2016-06-09 09:44] JohnSundell commented on #78
It's not always a repetition to use `??` because in various places, because different optional semantics might be desired for the same enum type. So we don't want Unbox to assume that if an enum value failed to Unbox, that the fallback value is a good default. Instead, in some places, the user of the API might want to fail the whole unboxing process instead.

By using the same semantics for enums

[2016-06-17 05:20] mtviewdave opened #80 "64-bit Integers truncated to 32-bits on 32-bit platforms"
64-bit integers are silently truncated to 32-bits on 32-bit platforms, such as the iPhone 4s and 5. E.g.:

`        let bigValue: Int64 = unboxer.unbox("bigValue")
`

"bigValue" will be truncated to 32-bits. On 64-bit platforms (e.g. iPhone 6), I get the expected value.

[2016-06-18 18:33] JohnSundell commented on #80
Hi @mtviewdave, how would you like Unbox to behave in this schenario? Should `nil` be returned?

[2016-06-18 18:36] mtviewdave commented on #80
I would expect the full 64-bit value would be returned on both 32- and 64-bit platforms.

[2016-06-18 18:37] JohnSundell commented on #80
Is that even possible? 😮 How can a 64 bit integer be used on a 32 bit system?

[2016-06-18 18:48] mtviewdave commented on #80
Yes, it's possible. Swift Int64 variables work fine on 32-bit systems.  In the Swift runtime, 32- vs 64-bit platforms just refers to the "native word size". The sizeof Int corresponds to the native word size, but Int64 is available on all platforms.

[2016-06-18 19:05] JohnSundell commented on #80
That's awesome, didn't know that! Alright, so let's fix this bug :)

[2016-06-24 10:53] Ashu opened #82 "NSCoding Support"
Can we store Unboxable object to the persistent storage?

[2016-07-01 10:03] bencallis opened #84 "Unable to unbox nested arrays"
I have been using Unbox and I am really enjoying the simplicity of it. Today I have hit a strange issue while trying to unbox the following structure

[code]

[code]

This results in an Unbox error when unboxing legs. Accessing the first (or any other valid index) element using key path works
[code]

Should nested arrays work? Or do I need to make an intermediary object that just contains the legs

[2016-07-01 10:07] JohnSundell commented on #84
Hey @bencallis, nested arrays do indeed work, so since the first element is unboxable, I suspect that a subsequent member of the `legs` array contains invalid data. What happens if you `catch` the error that Unbox throws? Also could you post the code for your `Legs` struct, so I can check what might be wrong there? :)

[2016-07-01 10:11] JohnSundell commented on #82
Hey @Ashu, you can totally use Unbox to store objects in persistent storage, using JSON, a plist or any other `Dictionary` or `NSData`-based format. Unbox itself doesn't contain any `NSCoding` support per se, since it's a JSON framework, and `NSCoding` uses Apple's own binary format to store object snapshots on disk.

But you can very easily unbox `NSData` that has been persisted on disk using Unb

[2016-07-01 10:11] #82 closed

[2016-07-01 10:15] bencallis commented on #84
@JohnSundell Thanks for the incredibly quick reply! I have added the Leg class above.
![unbox_swift](https://cloud.githubusercontent.com/assets/1911951/16518812/de1c7d52-3f7c-11e6-92ae-76404a8d1df3.png)

[code]

[2016-07-01 13:36] bencallis commented on #84
Let me know if you need any further details :)

[2016-07-02 12:32] JohnSundell commented on #84
@bencallis Will do! I'm out traveling so have very limited time & internet access, but will try to take a look tomorrow :)

[2016-07-02 21:16] ntnhon opened #85 "Unable to unbox [NSURL]"
Hi, I encounter problem unboxing an array of NSURL. It seems to be supported right in the box but somehow not working.

Here's the error message:
![screen shot 2016-07-02 at 11 13 04 pm](https://cloud.githubusercontent.com/assets/4153453/16542485/bdbe566e-40aa-11e6-9c92-108f77a34fd3.png)

Am I missing something here?

Thank you.

[2016-07-03 05:19] giladronat commented on #82
Hey @JohnSundell, when trying to persist simple models to disk, would you recommend persisting the JSON as `NSData` instead of `NSCoding`?

As far as a generic, saves-you-from-boilerplate `NSCoding` solution, I feel like having a nice way to bridge property names and `NSCoding` storage keys in the same library as the one that determines those property names would be handy. I think this is why @Ash

[2016-07-03 19:27] JohnSundell commented on #85
Hi @ntnhon, could you please post some sample code so that I can diagnose the problem?

[2016-07-04 08:33] ntnhon commented on #85
Hi John,

Here is the exact code that I'm using. It's just simply not working...I have to workaround by using an intermediate [String]. Please have a look.

![screen shot 2016-07-04 at 10 30 18 am](https://cloud.githubusercontent.com/assets/4153453/16555003/a93ac19a-41d2-11e6-93c7-312c20ab063c.png)

[2016-07-04 09:08] bencallis commented on #84
@JohnSundell Now rush! Enjoy your travels :)

[2016-07-07 16:36] tcurdt opened #86 "unboxing without struct"
While most of the time the `struct` mapping approach is fine, I am wondering whether there is also a way to use `Unbox` without. Similar to what `SwiftyJSON` or `JASON` allows you to do. Basically allowing to use the `Unboxer` directly somehow.

[2016-07-08 14:59] JohnSundell commented on #86
Hi @tcurdt, you can use the cusom Unboxing API for this. This enables you to get direct access to an `Unboxer`, to perform whatever operations you want together with it.

See [`Unboxer.performCustomUnboxingWithDictionary/Array`](https://github.com/JohnSundell/Unbox/blob/master/Sources/Unbox.swift#L406) for more information :)

[2016-07-08 14:59] #86 closed

[2016-07-10 15:05] tcurdt commented on #86
Thanks! Would be great to add an example to the readme though.

[2016-07-10 18:23] JohnSundell commented on #86
@tcurdt, there's already a section about the custom unboxing API with a code example in the README :) Check the section titled [**Custom unboxing**](https://github.com/JohnSundell/Unbox#custom-unboxing).

[2016-07-12 08:00] zwebie commented on #84
I'm having the same issue both with a nested array and an enum.
Although in my case I get a Xcode crash.
It worked fine in a previous version.

[2016-07-12 12:02] bmt22033 opened #87 "Unboxing string array to integer array?"
Hi John.  I just discovered Unbox and it's awesome!  Thank you for creating and sharing it.  I've run into a small issue and I'm not sure what I'm doing wrong.  I have the following class:

[code]

The JSON response from the server looks like this:

[code]

As you can see, the participants array in the JSON is a string array and I'd like to transform it into an integer array when it's unboxed.  Bu

[2016-07-12 16:15] bmt22033 commented on #87
I'm not sure if this is the intended way to deal with this but I found that by chaining flatMap(), I was able to end up with an integer array of participants.

`self.participants = unboxer.unbox("participants")?.flatMap { Int($0) }`

[2016-07-13 19:28] ldiqual opened #88 "Proposal: `Boxable`, Model => JSON serialization."
Proposal: `Boxable`, Model => JSON serialization.
======================================================

@JohnSundell Here's a proposal for adding a `Boxable` protocol and a `Boxer` class that would handle Model => JSON serialization.

Motivation
----------

During the migration of the Scoop app to Swift 3.0, we had to shift from ObjectMapper to Unbox because of the poor support for non-optional

[2016-07-13 19:46] JohnSundell commented on #88
Hi @ldiqual, happy to hear that it was easy to migrate to Unbox - and thanks for the very thorough proposal! Thankfully, I created [Wrap](https://github.com/johnsundell/wrap) for this very reason - it's Unbox's equivalent on the serialization side, and provides all the features (except for `serializeNull = true`, but we could add that) that you request.

Even better, it does so with very little co

[2016-07-13 19:51] ldiqual commented on #88
@JohnSundell Thanks! I'll take a look at Wrap. Weird that it didn't show in my search results about serializing models in Swift. Probably worth closing now ;) Thanks again!

[2016-07-13 19:51] #88 closed

[2016-07-13 22:28] jakunico commented on #59
Guys, we're having some issues with the failed information when it happens in a nested object. To give an example, check out the following model:

[code]

Here you'll notice that the key for `Paint.color` is incorrect. When attempting to Unbox a `User` Dictionary, this is the failure information provided:

[code]

Even though that is correct, the information provided is not very useful in cases wh

[2016-07-14 18:15] jakunico opened #89 "Extend Bool unboxing from String"
Hi!

We want our client to be as flexible as possible so we're looking forward to parse `String` to `Bool` as follows:

String Value | Unboxed Bool
---|---
"0" | false
"1" | true
"false" | false
"true" | true

We came up with this:

[code]

The problem is that `Bool` already conforms to that protocol in `Unbox.swift` so it gets a compiler warning. How can we achieve this behaviour in the cleanest

[2016-07-19 00:20] clayellis commented on #73
@JohnSundell do you think you'll have any time to implement a solution to this problem? I've run into it multiple times and it's starting to hurt. If not, it would be nice to know so I can plan accordingly.

[2016-07-19 16:25] JohnSundell commented on #73
@clayellis Yeah, will take a look at it this week :)

[2016-07-19 16:35] JohnSundell commented on #89
Hey @jakunico, interesting! On one hand we could include this in Unbox itself, but it might lead to false positives for code that assumes stricter type-checking. One way of doing it without modifying the library would be to introduce an intermediary type, like this:

[code]

And then, when you perform Unboxing, use your new type:

[code]

In terms of cleanliness, I don't know. It feels a bit stran

[2016-07-19 16:36] JohnSundell commented on #87
@bmt22033 Yeah, that's a good workaround for now. Will make sure to add this to the library, so it does it by default. Thanks for reporting!

[2016-07-20 00:24] jakunico commented on #89
Thanks for the response John. A temporal solution we ended implementing is a proxy extension of `Unbox` that takes care of special cases (we had a few similar cases):

[code]

Usage:

[code]

I'm still not so satisfied with this solution as we had to proxy a lot of functions, though we like how it turned at usage time.

From the solutions you proposed, I think the first is the one that appeals us

[2016-07-20 16:09] #85 closed

[2016-07-20 16:48] JohnSundell commented on #85
@ntnhon This was caused by a missing `unbox()` overload that @maxsz has now fixed 🎉

[2016-07-20 17:45] clayellis commented on #73
@JohnSundell I wonder if a possible solution could be as simple as:

    public func Unbox<T: Unboxable>(dictionary: UnboxableDictionary, at key: String, context: Any? = nil) throws -> T {
        guard let nestedDictionary = dictionary[key] as? UnboxableDictionary else { throw UnboxValueError.MissingValueForKey(key) }
        return try Unboxer(dictionary: nestedDictionary, context: context).perf

[2016-07-20 18:13] ivasic commented on #73
This is similar to how I've been doing it. As a bonus - it would be lovely to have an overload that accepts keypath as well. That covers a lot of cases I've ran into

[2016-07-20 18:34] clayellis commented on #73
@ivasic Exactly—I've created a pull request for this. The solution in the pull request is slightly modified. @JohnSundell

[2016-07-20 21:00] clayellis commented on #73
@ivasic Okay, I just added support for key paths with indices in that pull request and it passes tests. Now it's just up to @JohnSundell to accept!

[2016-07-24 12:06] tcurdt commented on #86
Doh! I guess I just didn't expect that to hid behind "custom unboxing" and/or `Unboxer.performCustomUnboxingWithDictionary`. Anyway! Thanks!

[2016-07-25 21:47] JohnSundell commented on #73
This has now been fixed by @clayellis! 🎉

[2016-07-25 21:47] #73 closed

[2016-07-26 20:27] #87 closed

[2016-07-26 20:28] JohnSundell commented on #87
Hey @bmt22033, @clayellis has now implemented a fix for this, so you can just call `unbox()` to decode an array of strings into an array of ints, without having a workaround.

[2016-07-26 21:15] clayellis commented on #84
@bencallis Are you still having issues with this? If so, I'll take some time today to look at it a little more closely.

[2016-07-27 09:18] bencallis commented on #84
@clayellis Yeah I am still having this issue.

Current work around is

[code]

[2016-07-31 18:14] pavankataria opened #95 "How to pass unboxer around in a nested setup."
I have data coming in from a server who's media items can come in different types.
They're polymorphic models that is identifiable by the `media -> type` integer value.
Depending on the `media -> type` value, the `media -> object` value inside changes which I would plug into the right class by using associative enum values.

Here's an example of my `Media` model

[code]
import Unbox
struct MediaFa

[2016-07-31 18:49] pavankataria commented on #95
... I see what I'm doing wrong, I should instead be unboxing into a model, rather than passing the unboxer object around.
Something like this:

[code]

What do you think?

[2016-08-01 03:02] JohnSundell commented on #95
Instead of passing an `Unboxer` into your factory, I'd create a `Media` struct that holds a type and a `Dictionary`, then pass that to the factory which then unboxes the `Dictionary` from the `Media` struct and associates it with the enum. Unboxers should generally be kept private within a model's initializer to avoid introducing shared state, which could lead to really hard-to-track-down bugs.

[2016-08-01 16:40] garnett commented on #59
Tried to do it myself but apparently (as I understood it) whole error reporting should be reconsidered.

I've seen discussion related to collecting of all errors in the array and I personally would prefer more **monadic** approach where Unbox fails as soon as it encounters the first error (it propagates it from leaf to the root gathering the context along the way to form nice errors as proposed ab

[2016-08-03 16:24] bencallis commented on #84
@clayellis did you get anywhere with this? May try and have a look into it next week. Any pointers would be handy.

[2016-08-09 06:57] Chiliec opened #99 "How to test models without json?"
I want to create structs with default constructor in tests, without creating testing json files. Can I do that? Or if I implement `Unboxable` protocol, I can use only `init(unboxer: Unboxer)` constructor?

[2016-08-09 08:09] JohnSundell commented on #99
Sure, all you have to do to make the default constructor still generated by Swift is to implement `Unboxable` in an extension, like this:

[code]

[2016-08-09 08:09] #99 closed

[2016-08-09 08:10] JohnSundell commented on #95
@pavankataria Does my suggested solution work for you? Let me know if I can close this issue :)

[2016-08-09 08:12] Chiliec commented on #99
Awesome! Thanks!

[2016-08-11 09:39] simme opened #100 "Unboxable CollectionType"
Hello,

I've got an Unboxable model that I just implemented `CollectionType` conformance on and now I'm getting compile errors about `Ambiguous use of 'unbox(_:isKeyPath:)'. I realize _why_ this is happening. But I'm having a hard time figuring out how to make the compiler pick the unbox method that is for "single objects" rather than the collection type one.

So basically I have:
[code]

And try

[2016-08-11 10:03] simme commented on #100
Worked around with this for now. Maybe it's the only possible solution?
[code]

[2016-08-11 14:48] mjholgate commented on #84
I made an extension to workaround this issue:

[code]

[2016-08-16 21:43] JohnSundell commented on #100
Hi @simme! To me, this is definitely partly a support forum - an easy way to ask questions and get answers from the community, so your questions are more than welcome! 😄

I actually think that the solution you're going for now is the only way around it. You could always wrap it inside a `Unboxer` extension that returns your type exactly (that would make it more specific and thus be picked by the c

[2016-08-17 11:27] tcurdt opened #103 "unboxing different types/enums"
I have to different kind of types in the json and I am not sure how to handle the unboxing:

    "foo": {
        "open": {
          "from": "2016-08-14T13:00:00",
          "to": "2016-08-14T18:00:00"
        }
      }

and

    "foo": {
        "close": {
          "from": "2016-08-14T13:00:00",
          "to": "2016-08-14T18:00:00"
        }
      }

I guess the Swift representation could look

[2016-08-17 13:24] simme commented on #100
Awesome! :)

This will work just fine. Just not _as_ pretty as before ;) Type inference is beautiful until it isn't!

[2016-08-17 20:10] clayellis commented on #103
Hi, @tcurdt! Welcome to Unbox! Glad you're here. Consider the following. It doesn't make use of `enum`s, but I think it makes a little more sense. If you see this and don't like the implementation let me know and I can help you create the "enum" strategy. Cheers!

### Foo
[code]

### OpenClosed
[code]

With this strategy, `Foo.open` and `Foo.closed` are both optional and you could check which case

[2016-08-17 22:37] tcurdt commented on #103
Thanks for the help and the warm welcome, @clayellis :)

I came up with a work around along the lines of:

    enum SpecialType {
        case Open(from:NSDate, until:NSDate)
        case Closed(from:NSDate, until:NSDate)
    }

    let openFrom: NSDate? = unboxer.unbox("value.open.from", isKeyPath: true, formatter: dateFormatter)
    let openUntil: NSDate? = unboxer.unbox("value.open.to", isKeyPa

[2016-08-18 11:32] ldiqual opened #104 "Xcode 8 beta 6 compatibility"
@JohnSundell I converted the swift 3 codebase to the latest version (shipped with beta 6) on a local branch but I'm not sure how to handle the test migration.

Due to https://github.com/apple/swift-evolution/blob/master/proposals/0072-eliminate-implicit-bridging-conversions.md it's harder to create `[String: AnyObject]` with array literals because things like `47` are not implicitly convertible to

[2016-08-18 21:03] JohnSundell commented on #104
Hi @ldiqual, Unbox has now been updated to support Xcode 8 beta 6! :) `UnboxableDictionary` is now typed as `[String : Any]` to conform to the new implicit conversion rules.

[2016-08-18 21:03] #104 closed

[2016-08-19 14:24] piresbruno opened #105 "Can Unbox perform object to json as well?"
Does Unbox supports object serialization to json?

[2016-08-19 14:29] piresbruno commented on #105
just found Wrap

[2016-08-19 14:29] #105 closed

[2016-08-19 14:35] arsonik opened #106 "Unboxing [NSURL]?"
Hi,
First, thanks for your amazing work !

Just wondering if that kind of unboxing is supposed to work:
[code]

where pictures is an array of strings

[2016-08-21 05:59] clayellis commented on #106
Hi @arsonik! Welcome to Unbox! Glad to have you here!

Yes, Unbox supports unboxing `NSURL`s from `String`s through the use of a transformer right out of the box! (No pun intended 😉) You should be good to go! Let us know if you have any other questions—we're always happy to help and we try to respond as quickly as possible!

[2016-08-21 06:00] clayellis commented on #106
@JohnSundell I think we can close this one!

[2016-08-21 06:00] clayellis commented on #103
@JohnSundell do you see any other ways to improve unboxing this case? If not, I think this issue can be closed.

[2016-08-21 16:46] tcurdt commented on #103
I know the change is probably too big - but just being able to somehow error out of `init(unboxer: Unboxer)` would be great.

[2016-08-22 08:30] arsonik commented on #106
hmm thanks for your reply,
doesn't seem to work right out of the box though
it is an array of NSURL ! to just a single NSURL is that why it's not working ?
not working ```self.pictures = unboxer.unbox("pictures_url")```
the code that is actually working:
[code]

[2016-08-23 05:27] clayellis commented on #106
@arsonik, I'll take a look in the morning. I know that there have been some issues in the past were arrays of transformables weren't unboxing quite as they should. Thanks for uncovering another case (if that is the case!) Just thought I'd chime in to let you know that you are indeed not crazy 😉

[2016-08-23 09:24] ntnhon commented on #106
Hi guys, FYI I'm the one who opened #85 and got it compiled after the fix but it actually crashes in runtime.

[2016-08-23 21:59] JohnSundell commented on #106
Hey @ntnhon, @clayellis, @arsonik! I see now that there's a bug in how an array of `UnboxableByTransform` values are handled (it just tries to unbox the same type, rather than going for the raw type and then transforming it). Will fix the bug now, stand by :)

[2016-08-23 22:07] JohnSundell commented on #106
@ntnhon Shouldn't crash though, even with the current bug in the implementation. Can you post a stack trace?

[2016-08-23 22:29] #106 closed

[2016-08-23 22:30] JohnSundell commented on #106
Fixed in `master`. Let me know how that works. Will make a release soon, probably tomorrow evening :)

[2016-08-24 07:40] arsonik commented on #106
Working like a charm ! Thanks.

Stupid question: why unbox can't work with class i/o struct ?

[2016-08-24 07:52] JohnSundell commented on #106
@arsonik Awesome 🎉 There's nothing preventing you to use classes instead of structs with Unbox. Just implement `init(unboxer:)` as a `required` initializer.

[2016-08-25 07:46] arsonik commented on #106
My bad ! Dunno why I though I could not 👍🏻

[2016-08-26 02:40] antwerpenR commented on #80
I can confirm this behaviour - very annoying and still a problem in V1.9

[2016-08-26 10:19] JohnSundell commented on #80
@antwerpenR Yeah, know that it still hasn't been fixed - haven't had any time to fix this yet I'm afraid. Understand that it is annoying and will try to fix it asap, in the meantime, feel free to fix it yourself and submit a PR :)

[2016-08-28 12:49] antwerpenR commented on #80
@JohnSundell thanks for taking the time to reply and thanks for a truely GREAT JSON parsing framework!  I did work around it so the urgency and motivation to fix it is somewhat reduced but I might look into that PR if/when I get time this week.

[2016-08-28 12:50] JohnSundell commented on #80
@antwerpenR Awesome! Would really love a PR, or just if you want to put some code for the workaround here as a comment, and I can integrate it into the framework. Whatever you prefer :) Happy you like Unbox :D

[2016-08-28 12:56] antwerpenR commented on #80
@JohnSundell The workaround was really a fix.  I was parsing a date (from meetup.com) which is seconds from 1970.  I parsed into Int which is 64bits on all the new phone/ipads but only 32 on the older devices ....so it overflows and give you a negative number and dates in 1969.   I initially changed my code to use Int64 which OUGHT to have worked on all devices but did not....with a bit more readi

[2016-08-30 13:10] kgaidis opened #107 "Swift 3 documentation update (or function signature update)"
Hi there,

Just here to _document_ (pun intended) a documentation or style inconsistency due to Swift 3.

Currently documentation states:
`let user: User = try Unbox(dictionary)`

But this is no longer true in Swift 3; it has to be:
`let user: User = try Unbox(dictionary: dictionary)`

Function:
`public func Unbox<T : Unboxable>(dictionary: UnboxableDictionary, context: Any? = default) throws -> T

[2016-09-05 11:00] bennokress opened #109 "init an Unboxable struct with additional parameters"
I have a JSON response with nested arrays like this:
[code]

Now I already unboxed them successfully by creating 3 structs named Project, Phase and Activity, where every Project includes an array of `[Phase]` and Phase includes an array of `[Activity]`. What I want is only activities that include the information about their parent Phase and its parent Project, so I can store only an array of `[Act

[2016-09-05 11:47] nubbel commented on #109
You could use the `UnboxableWithContext` protocol and pass the project and phase information as context to the `Unbox(_:context:)` function:

[code]

Instead of the `ActivityContext` struct you could also use the `Project` and `Phase` structs you've already defined.

[2016-09-05 13:49] bennokress commented on #109
nice, thanks for the fast answer. didn't know about that ... I can even pass along the Project struct itself to the Phase after initializing/unboxing every property and then give each Phase the Project-informations and pass the Phase itself along to the Activity.

[2016-09-05 13:49] #109 closed

[2016-09-07 16:34] sp8hmz opened #111 "How to catch errors in Swift 3"
My code is crashing when trying to unbox data fetched by Alamofire. How should I catch errors using do-catch in Swift 3?

[2016-09-07 19:59] danielgalasko commented on #111
I think you need to do a bit more to help us help you @sp8hmz. There is more than enough information on how to do parsing using Unbox. Perhaps try and explain what the crash is and how you think Unbox might be responsible given that you have explicitly mentioned Alamofire. Seems to me (at a thumb suck) you are probably force unwrapping something i.e. `let x = json["key"] as! String` will cause a c

[2016-09-07 20:02] JohnSundell commented on #107
Hi @kgaidis! Yeah, you're right. All the APIs will be refined (and the documentation updated) with Unbox 2.0 in time for Swift 3. Will not do any work on it right now as Swift 3 is still somewhat in flux and bound to change, and since Unbox 2.0 will change the APIs to become more Swift 3 native. Will make sure to update the README on the Swift 3 branch with this information, so that it's clear :)

[2016-09-10 11:36] terenzeyuen opened #112 "Swift 3 Unbox dictionary at seems to stop working?"
This line used to work but not anymore, couldn't find a replacement?

 try Unbox(json, at: "jobOpenings")

[2016-09-12 14:12] andreyz commented on #112
I think it's just the example in README is obsolete. If you look through the source, that method is no longer present.

[2016-09-12 14:22] terenzeyuen commented on #112
Thanks @andreyz I think this was added here:
https://github.com/JohnSundell/Unbox/issues/73

But might not be migrated to swift3? Not sure what's going to happen as I have many projects using this custom path feature. @JohnSundell @clayellis

[2016-09-12 16:23] JohnSundell commented on #112
@terenzeyuen @andreyz The reason this method doesn't exist on the `swift3` branch is because it was implemented on `master` after the branch was cut. So we'll need to merge `master` into `swift3` (and probably do some manual migration of code). I'll see if I can find some time to do that tonight or within the next few days :)

[2016-09-12 16:30] terenzeyuen commented on #112
Superb!

[2016-09-12 21:27] JohnSundell commented on #112
There we go, `master` has been merged into `swift3` - should solve the problem - otherwise let me know :)

[2016-09-12 21:27] JohnSundell commented on #95
Closing due to inactivity.

[2016-09-12 21:27] #95 closed

[2016-09-12 21:28] JohnSundell commented on #111
@sp8hmz  Are you able to provide any more information? :)

[2016-09-13 15:05] andreyz opened #113 "Swift 3 consistent first argument label"
Due to [SE-0046 - Establish consistent label behavior across all parameters including first labels](https://github.com/apple/swift-evolution/blob/master/proposals/0046-first-label.md)

Previously `self.name = unboxer.unbox("name")` was possible to write.
After migration, without explicitly removing first argument label, in Swift 3 we need to type `self.name = unboxer.unbox(key: "name") `.

Would b

[2016-09-13 18:19] andreyz commented on #113
Noticed that this is a duplicate of #107

[2016-09-13 18:19] #113 closed

[2016-09-13 18:20] andreyz commented on #107
@JohnSundell are you waiting for Swift 3.1?

[2016-09-14 08:28] terenzeyuen commented on #112
Perfect, thanks @JohnSundell

[2016-09-14 08:28] #112 closed

[2016-09-14 09:31] terenzeyuen opened #114 "Swift 3 Unbox URL type"
Will you support URL instead of NSURL for Swift 3? @JohnSundell

 No 'unbox' candidates produce the expected contextual result type 'URL'

[2016-09-14 10:20] tcurdt commented on #114
For now just add it yourself:

[code]

[2016-09-14 10:27] tcurdt opened #115 "Designated initializer cannot be declared"
I was trying this (with swift3)

[code]

The only difference to my other code is that this is a `class` instead of a `struct`.

[2016-09-15 03:05] RyogaK commented on #59
I think this issue is done.
I'm very satisfied with current error reporting. Thanks a lot!

[2016-09-15 03:05] #59 closed

[2016-09-15 10:47] tcurdt commented on #103
I found `unboxer.failForKey(key: "")` but it does not help with `Returns from initializer without initializing all stores properties`.

The only way I see that works around the problem with non-optionals is to use `throws` as in changing the signature and error handling to:

[code]

[2016-09-15 16:56] tcurdt opened #116 "enums usage unclear"
The example has

[code]
Why do I need to provide a fallback value? It does not make any sense that spaceships are `Apollo` by default. I would rather have it fail it the value is missing or not a valid enum.

And how about this use case?

[code]

The number of spaceships (=length of the array) should be 0..n

[2016-09-15 16:57] JohnSundell commented on #107
@andreyz Hehe no :) I guess I underestimated how many people would love to Swift 3 once the GM of Xcode 8 hits, so will prioritize this higher now (with the limited time that I have).

[2016-09-15 17:01] andreyz commented on #107
It's a "turtles all the way down" problem, once your one project migrates to Swift 3, one would expect all depencies to migrate too. Hence the instense Swift 3 rush.

[2016-09-15 17:02] JohnSundell commented on #107
It's on the top of my todo-list believe me. Would also love some help on this from you guys and the rest of the community. It's better to unblock yourself than having to wait IMO :)

[2016-09-15 17:02] tcurdt commented on #116
This almost does the right thing - except that it needs the default value

[code]

[2016-09-15 17:02] JohnSundell commented on #116
@tcurdt As the documentation for `unboxFallbackValue()` states:
[code]
the fallback value is only used to be able to exit out of initializers without requiring every model to do its own error handling. Since Swift requires all non-optional properties to be initialized during an initializer, the fallback value is used as a "dummy" value, while internally Unbox marks the process as being failed - an

[2016-09-15 17:02] #116 closed

[2016-09-15 17:10] JohnSundell commented on #115
@tcurdt In Swift, designated and required initializers can only be declared as part of a class definition, not as an extension, if that class is not marked as `final`. So you can either choose to make your class `final` or to move the conformance of `Unboxable` and its required `init` method into the declaration of your class, like this:

[code]

[2016-09-15 17:10] #115 closed

[2016-09-15 17:15] JohnSundell commented on #111
Closing for now. @sp8hmz please let us know once you have some more actionable information.

[2016-09-15 17:15] #111 closed

[2016-09-15 17:21] JohnSundell commented on #114
Fixed! :)
https://github.com/JohnSundell/Unbox/commit/bc4de75cbefaacebb0a2a6c07918a07f8eb8f17b

[2016-09-15 17:21] #114 closed

[2016-09-15 17:25] JohnSundell commented on #89
@jakunico Sorry for the late response. The extension system you proposed is very interesting and something we should consider for future versions of Unbox. Don't think we want to implement it as various files you choose to include or not since many people use Unbox & other libraries through a package manager (which will probably be even more popular when the Swift Package Manager gets released). A

[2016-09-15 17:25] #89 closed

[2016-09-15 19:02] tcurdt commented on #116
@JohnSundell would you agree that's a dirty hack? :)

Why not do it like this:

[code]

No falllback value, no special error handling. That feels way more "swifty" to me.

[2016-09-15 19:04] tcurdt commented on #115
So that really is because it's `class` instead of a `struct`.
I wasn't aware of that particular difference.
Thanks for clearing this up.

[2016-09-15 19:08] JohnSundell commented on #115
No worries :)

[2016-09-15 19:09] JohnSundell commented on #116
Yeah, I agree that it's somewhat hacky by modern Swift standards. Unbox was originally written for Swift 1, so this mechanism has been around since then. But we should totally switch to using `throws` instead, like you say, it's a lot cleaner and more "swifty" :)

[2016-09-16 06:51] clayellis commented on #107
@JohnSundell I'll try to take some time on Saturday to start updating things if no one beats me to it. A little swamped until then, though.

[2016-09-17 19:02] JohnSundell commented on #107
Finally I have time to do some work on this tomorrow - will keep you posted :)

[2016-09-19 22:23] JohnSundell commented on #107
Ended up working mostly on Wrap for the last two evenings, since it didn't even compile for Swift 3. Now that's all done, and it's API has been refined - so will jump on this next 😅

[2016-09-20 19:16] ldiqual opened #118 "Release new cocoapods version with swift 3 support"
@JohnSundell Now that Xcode 8 is out, it would be awesome to have an official pod version with swift 3 support instead of relying on the `swift3` branch.

[2016-09-21 18:43] JohnSundell commented on #118
Will do, as soon as the API has been refined to work well with Swift 3 and conform to all API guidelines. Will be done this week for sure.

[2016-09-22 12:02] serejahh opened #119 "Cocoapods with Swift 3"
Hi, John. Thanks for the awesome lib!

I'm trying to update [UnboxedAlamofire](https://github.com/serejahh/UnboxedAlamofire) to swift 3. Unfortunately, cocoapods doesn't support specifying a branch in a podspec for dependencies. So, could you push a new podspec with swift 3? I suppose it can be `2.0`

[2016-09-22 19:30] JohnSundell commented on #119
Duplicate of https://github.com/JohnSundell/Unbox/issues/118

[2016-09-22 19:30] #119 closed

[2016-09-26 12:27] alexs555 opened #120 "Swift3 branch doesn't compile with xcode8 with swift3"
Hi! Did u try to compile latest swift3-branch version? I'm trying to use it, but can't even compile(
<img width="1388" alt="2016-09-26 15 22 14" src="https://cloud.githubusercontent.com/assets/3940001/18834267/a36c4956-83fd-11e6-884c-07ea2c033a53.png">
Any help would be appretiated

[2016-09-26 18:41] clayellis commented on #120
Just out of curiosity, what happens when you force the `try` (`try!`)?

[2016-09-28 07:49] alexs555 commented on #120
"Use legacy swift version" option should be disabled in Unbox target inside Pods project and after that it compiles normally.
Cocoapods 1.1.0.rc.2 transfers parent's target settings to all pods, 1.0.1 doesnt.

[2016-09-28 07:49] #120 closed

[2016-09-29 19:55] vladimircezar opened #123 "Getting error trying to unbox null"
Here is the JSON:

    {
        "login": "idaclaire",
         "fullname": null
    }

    self.fullname = unboxer.unbox("fullname")

Anyone know what to do here?

[2016-09-29 22:29] JohnSundell commented on #123
@vladimircezar What the error you're getting?

[2016-10-02 11:08] Ben305 commented on #118
Has a release date already been selected?

[2016-10-02 12:17] JohnSundell commented on #118
@Ben305 It's been delayed a bit due to me working on other open source projects and having limited time :/ Working on it today though! :)

[2016-10-02 12:17] JohnSundell commented on #118
Hopefully I can get a verison released today!

[2016-10-02 18:25] JohnSundell commented on #107
Since the documentation has now been updated (thanks @garnett) - this can be closed.

[2016-10-02 18:25] #107 closed

[2016-10-02 18:26] JohnSundell commented on #107
Note though that the APIs will still be updated to be Swift 3 native in Unbox 2.0, which is being developed here: https://github.com/JohnSundell/Unbox/pull/126 😄

[2016-10-02 18:27] JohnSundell commented on #118
For those who are curious and want to follow the development of Unbox 2.0 (which will be the Swift 3 compatible release on CocoaPods + Carthage), check out this PR: https://github.com/JohnSundell/Unbox/pull/126

[2016-10-02 21:01] drallgood commented on #27
hmm.. This is not really clear to me.
Neither is the README.

Given that I have a Core Data object like @pavankataria how would I proceed to have Unbox integrated?

[2016-10-02 21:03] JohnSundell commented on #27
@drallgood Does the example code I provided above not work for you? (note that it was written in Swift 2). If you tell me exactly what is unclear I can try to explain and improve the README.

[2016-10-02 22:20] drallgood commented on #27
@JohnSundell
The code would probably work, IF i knew where to put it. ;)
I think a full example would be great. Data model and all

[2016-10-03 23:13] bryanbartow commented on #118
Looks like #126 was merged. Does that mean an updated podspec is going to be published?

[2016-10-03 23:14] JohnSundell commented on #118
@bryanbartow Give me a sec, gonna write the release notes. Will be published within 1 hour max :)

[2016-10-03 23:15] bryanbartow commented on #118
@JohnSundell Nice!

[2016-10-03 23:58] JohnSundell commented on #118
Aaaaaaand it's [RELEASED!](https://github.com/JohnSundell/Unbox/releases/tag/2.0) 🎉 🎉 🎉  Thank you so much for your patiance everyone, and hope that you like 2.0! 😄

[2016-10-03 23:58] #118 closed

[2016-10-03 23:58] JohnSundell commented on #103
This has been fixed in Unbox 2.0, where you can now throw from an initializer.

[2016-10-03 23:58] #103 closed

[2016-10-04 00:00] #100 closed

[2016-10-04 00:00] JohnSundell commented on #84
This has been fixed in Unbox 2.0! 🎉

[2016-10-04 00:00] #84 closed

[2016-10-04 00:02] JohnSundell commented on #119
@serejahh Unbox 2.0 has now been released 🎉

[2016-10-04 07:59] serejahh commented on #119
What a great news! Looking forward to update UnboxedAlamofire

[2016-10-06 12:25] iainsmith opened #127 "UnboxableWithContext beginning from a provided key"
Unbox 1.9 is missing two methods needed to support unboxing objects that conform to `UnboxableWithContext` beginning at a provided key.

In Swift 2.0 these have the signatures:

[code]

[2016-10-06 13:04] JohnSundell commented on #123
Closed due to inactivity, and no actionable information.

[2016-10-06 13:04] #123 closed

[2016-10-09 13:01] JohnSundell commented on #80
Sorry for taking a long time to implement this, but I just fixed it on master! 🎉 Will make a `2.1` release with the fix soon.

[2016-10-09 14:13] antwerpenR commented on #80
Thanks - you are the BEST.  I understand that you have been busy with the
Spotify HubFramework as well (very nice).   Meanwhile, I am up and running
on your 2.3 build and since I am planning to release to app store in the
coming week or so...I'll postpone any major upgrades for a bit.

Roger (in HK)

Roger Price
GSM: +852-6978-3655
http://antwerpenR.com

On Sun, Oct 9, 2016 at 9:01 PM, John Sundel

[2016-10-09 16:58] JohnSundell commented on #80
@antwerpenR 🎉 Sounds good - let me know if my fix works for you once you've upgraded :)

[2016-10-09 21:43] JohnSundell commented on #80
Has now been released! 🚀 https://github.com/JohnSundell/Unbox/releases/tag/2.1

[2016-10-09 21:43] #80 closed

[2016-10-12 14:56] rastersize opened #130 "Add changelog file?"
Would be great to be able to look at a file in the repo with all the changes. E.g. `CHANGELOG.md` and if it follows [Keep a CHANGELOG](http://keepachangelog.com). Cheers 😄

[2016-10-14 09:40] DavidObfuscator opened #132 "Missing patch version from git tags (SPM)"
Swift Package Manager:

[2016-10-19 19:20] JohnSundell commented on #132
@DavidObfuscator Ah, so I need to name releases `2.1.0` for example?

[2016-10-20 11:19] DavidObfuscator commented on #132
yes, if you would like to support sift package manager

[2016-10-20 11:25] JohnSundell commented on #132
@DavidObfuscator Will do that from now on, thanks! 👍

[2016-10-21 11:38] sasikiran opened #133 "Regarding the 'throwing' approach"
When I have break on "All Exceptions" turned on in my Xcode project, Unbox breaks at Optional.orThrow(). For a project that has many models and hence in turn many parameters that need to be unboxed, Xcode breaks at breakpoint several times.
If I have to catch a mysterious exception in the project, I have to do the turn on and turn off breakpoint dance for Unbox.

I started to wonder if there is th

[2016-10-22 15:36] aj1310 commented on #132
Is the current release going to be tagged, or do we have to wait for a next one?

[2016-10-22 18:31] JohnSundell commented on #132
Done! 😄 https://github.com/JohnSundell/Unbox/releases/tag/2.1.1. Will make sure to follow this convention in all releases going forward!

[2016-10-22 18:31] #132 closed

[2016-10-23 16:18] JohnSundell commented on #133
Hey @sasikiran! Are you sure you haven't turned on a `Swift Error Breakpoint`? Unbox does not generate exceptions, but rather throws Swift errors, which is the idiomatic standard for dealing with errors in Swift (it's used all throughout the standard library).

Before `2.0` Unbox used to deal with errors in a custom way, by holding state in `Unboxer`. This provided a nice way to deal with errors b

[2016-10-23 16:18] #133 closed

[2016-10-24 12:22] evgeniyd opened #135 "Cannot get UnboxRawValue = Double when implementing UnboxableByTransform"
I have an API which returns items in JSON. One item has a key `price_in_euros`:

    "price_in_euros": "38.88",

I'd like to transform it to `Price` object declared as

    public struct Price {
        public var amount: Double
        public var currency: Currency
    }

    public enum Currency {
        case unspecified, euro
    }

In order to do so, I extend `Price` type conforming to `Unbox

[2016-10-24 23:15] JohnSundell commented on #135
Hey @evgeniyd! You're right in that you need the `UnboxRawValue` type of your `UnboxableByTransform` type to match the type you're expecting in your JSON. So in this case using `String` as your raw value is correct.

[2016-10-24 23:15] #135 closed

[2016-10-25 02:46] aj1310 opened #136 "Custom error reporting"
On Unbox 2.1, I was using the invalid key error of UnboxError to declare there was something off in the semantic of the unboxed value e.g. Coordinate where latitude is a Double between -90  and 90.

On Unbox 2.2, I have found out that this is now a private method. What is the "official" way to provide custom errors? Or is this out of scope?

Thanks

[2016-10-25 09:30] evgeniyd commented on #135
@JohnSundell thank you very much!

I can confirm that if the API would return

    "price_in_euros": 38.88,

The `UnboxableByTransform` ext having

    public typealias UnboxRawValue = Double

...works perfectly.

[2016-10-25 09:31] JohnSundell commented on #135
@evgeniyd Awesome 🎉

[2016-10-25 19:09] JohnSundell commented on #136
@aj1310 Yeah, turns out way more people was using the different error cases in `UnboxError` than I thought, so I was mistaken to remove it. Bringing it back in `2.2.1` though, hopefully I can release it tonight :)

[2016-10-30 03:59] aj1310 commented on #136
I can create a quick PR for this feature as a public extension for UnboxError with static methods if you are interested.

[2016-10-31 22:05] JohnSundell commented on #136
@aj1310 Absolutely! Had to take care of a much of other stuff for the last few days so haven't had time to look at it yet :( But go for it! 👍

[2016-11-02 13:19] aj1310 commented on #136
Should all error types in UnboxPathError be exposed, or should it be scoped to semantic errors that a developer might throw in their custom logic? e.g. invalidValue

[2016-11-03 09:17] hartbit opened #138 "Better performance?"
Unbox is by far my favorite swift decoding library. But I've seen it affect performance on a few projects where I am decoding a few million objects. The following article [JSONShootout](https://github.com/bwhiteley/JSONShootout) does seem to imply that Unbox has a performance problem compared to others. I guess something can be done about it, especially as Marshal has a very similar API.

Any idea

[2016-11-03 11:30] krystiansliwa opened #139 "Linux support"
Does Unbox support linux machines?
Can I use it with Kitura framework and then run on linux machine?

[2016-11-03 15:55] VivienGiraud commented on #138
Latest release increase performances, JSONShootout, IIRC, doesn't use Unbox 2.2.0.
https://github.com/JohnSundell/Unbox/releases/tag/2.2.0

[2016-11-03 16:36] hartbit commented on #138
👌 nice, hadn't seen that release!

Sent from my iPhone

[2016-11-08 12:42] paewel opened #140 "Use of unresolved identifier"
Hello,
When I add the Unbox.swift file to a new project I get:
![screen shot 2016-11-08 at 13 40 45](https://cloud.githubusercontent.com/assets/2945862/20099511/2029455c-a5b9-11e6-9cc1-c22af12ce5a1.png)

[2016-11-10 10:11] js opened #141 "Can't make UIColor conform to UnboxableByTransform"
This extension:

[code]

Gives me these two compiler errors:
`Method 'transform(unboxedValue:)' in non-final class 'UIColor' must return `Self` to conform to protocol 'UnboxableByTransform'`
` Method 'unbox(value:allowInvalidCollectionElements:)' in non-final class 'UIColor' must return `Self` to conform to protocol 'UnboxCompatible'`

Change it to return `Self?` and only the last error occurs on

[2016-11-12 00:10] JRG-Developer commented on #136
IMHO, consideration should be given to whether `UnboxPathError` should actually be exposed publicly.

This allows the library consumer to decide what to do based on the type of error, instead of assuming the app can't ever handle it (which is what making this private does assume).

At the very least, I think `UnboxError` should have a _public_ initializer.

I couldn't come up with any good reasons

[2016-11-16 14:21] eliburke commented on #88
You should definitely update the README to mention Wrap. I saw it mentioned once before but was not clued in to the fact that it was a standalone project until I read this issue.

[2016-11-16 23:16] ldiqual commented on #88
@JohnSundell Fyi after evaluating whether to add `Wrap` in our codebase, we decided to go against it because we're not big fans of the magic associated with the property => json key serialization, which I assume uses mirroring behind the scenes.
A lot of the keys between models & json differ, and we also use a bunch of key paths that don't use nested models. I really wish `Wrap` had a syntax that'

[2016-11-17 17:13] JohnSundell commented on #88
@eliburke Yeah, I will! Forgot about it, but will definetly do it - thanks! 👍

[2016-11-17 17:23] JohnSundell commented on #88
@ldiqual I know whether or not to use Reflection to implement things like serialization (as Wrap does) is a very polarizing issue. I personally don't see it as "magic" as long as its properly documented, tested and uses official APIs.

I must admit that it's more explicit to do the mapping "manually", instead of relying on an automated solution, but IMO it's also way more error prone. It's easy to

[2016-11-17 20:03] tamutti opened #143 "Errors if key an underscore in it"
If you attempt to do like

try unboxer.unbox(keyPath: "routes.overview_polyline.points")

It'll give error of

[UnboxError] An error occured while unboxing path "routes.overview_polyline.points": The key "overview_polyline" is missing.

yet in the JSON, the key does exist and is spelled correctly. Looks to error on the underscore.

[2016-11-18 08:35] frranck opened #144 "Unbox(data: Data, keyPath: String) ?"
Hello,
There is an Unbox(dictionary: UnboxableDictionary, keyPath: String) function, is there a reason why there is no such function with Data  as input in Unbox ?

PS: We wrote this patch in our code:
[code]

[2016-11-18 17:45] #143 closed

[2016-11-18 17:46] tamutti commented on #143
Problem looked to be that route is an array and you can't key path to an item in an array since it doesn't know which array item to look at.

[2016-11-18 19:28] JohnSundell commented on #144
Hi @frranck, sounds like a great addition to the API! Want to contribute it as a PR? 😃 (if you do, please make sure that the signature of the method follows the convention set by the other `unbox()` functions).

[2016-11-23 13:31] VivienGiraud commented on #139
I tried using cocoapods but it fails with:
`[!] The dependency ``Unbox`` is not used in any concrete target.`
Fair enough. So I tried by copy pasting the `Unbox.swift` file as I can see:

At the beginning of the file.
But I get this:
<img width="866" alt="capture d ecran 2016-11-23 a 14 27 16" src="https://cloud.githubusercontent.com/assets/262924/20563459/0803bd1e-b189-11e6-936a-48d516b090d7.png"

[2016-11-23 13:40] VivienGiraud commented on #139
Ok never mind, I was doing `pod install` in the wrong folder. I let my previous comment for posterity.
Anyway, it works with Pods!
It builds, then I will give it a try.
@krystiansliwa can you try it please?

[2016-11-23 14:01] krystiansliwa commented on #139
On OSX it work as always but I am asking about plain linux platform.

[2016-11-24 01:05] slammed commented on #140
@paewel were you able to resolve this issue? I recently upgraded my project from iOS 8 (swift 2.2) to iOS 9.2 (swift 3). I am "trying" to use Unbox v2.2.0.

Any information is greatly appreciated.

[2016-11-24 01:18] JohnSundell commented on #140
@paewel @serejahh Currently, it's not supported to use the file `Unbox.swift` directly in a project - you need to include Unbox as a library. This can be done either through a dependency manager like CocoaPods, Carthage or SPM, or by adding `Unbox.xcodeproj` as a dependency to your project manually.

Unbox will support using the Swift file directly again in an upcoming version, but when the move w

[2016-11-24 04:54] slammed commented on #140
Thank you for the reply @JohnSundell. I am pretty green when it comes to iOS dev, but I was able to get this imported via cocoapods through some brute force! Finally working!!

It might be worth mentioning that I now needed to add the "import Unbox" to all my swift files that used it.

Thank you once again!

[2016-11-24 07:10] paewel commented on #140
Thank you for clarifying this :) And I can't wait for the upcoming version!

[2016-11-24 15:33] VivienGiraud opened #146 "Dynamic keys"
Hi,

I'm a bit lost, how can I handle dynamic keys with Unbox.
Like this question:[JSONJoy-Swift issue 41](https://github.com/daltoniam/JSONJoy-Swift/issues/41)
Code example:
[code]
Thanks

[2016-11-30 20:55] JohnSundell commented on #146
Hi @VivienGiraud!

Here's how I would unbox the JSON you posted:

[code]

Since version `2.0` Unbox supports infinitely nested collections, making it super simple to unbox even dynamic keys like the example you mention.

Would the above work for you? 😄

[2016-11-30 21:03] JohnSundell commented on #141
Hi @js! First of all, terribly sorry for the late response 😢

Objective-C classes like `UIColor` are a bit tricky. The typesystem seems to bail out when it comes to protocol extensions and those types. But no worries, we can easily fix it with the `UnboxFormatter` API:

[code]

Would the above work for you? 🙂

[2016-11-30 21:05] JohnSundell commented on #139
@krystiansliwa It should work on Linux (there have been contributors adding support to Linux in the past). If it doesn't, feel free to open issues and we'll fix it! 👍

[2016-11-30 21:05] JohnSundell commented on #139
I don't have a Linux environment setup to test it on personally at the moment. Starting with Swift on Linux is still on my personal backlog 😅

[2016-11-30 21:12] JohnSundell commented on #138
Hi @hartbit!

First of all, very sorry for the slow response 😢

Super happy to hear that Unbox is your favorite Swift JSON library 🎉 I sure want to make it not only the easiest to use JSON decoder, but also the fastest one. Currently, it's performing very well, but there are libraries (such as Marshal) that are faster still.

The main reason is that Unbox uses a lot of dynamism to enable all of it

[2016-11-30 21:12] #138 closed

[2016-11-30 21:39] hartbit commented on #138
@JohnSundell thanks for the great answer 👍

[2016-11-30 23:42] JohnSundell commented on #144
Implemented in [Unbox 2.3](https://github.com/JohnSundell/Unbox/releases/tag/2.3.0).

[2016-11-30 23:42] #144 closed

[2016-11-30 23:42] JohnSundell commented on #140
Fixed in [Unbox 2.3](https://github.com/JohnSundell/Unbox/releases/tag/2.3.0). You can now use `Unbox.swift` directly again 🚀

[2016-11-30 23:42] #140 closed

[2016-11-30 23:43] JohnSundell commented on #136
Fixed in [Unbox 2.3](https://github.com/JohnSundell/Unbox/releases/tag/2.3.0). I made `UnboxPathError` public and reverted `UnboxError` to be an `enum` (meaning that it can easily be created from outside). Thanks @JRG-Developer & @aj1310 for your work on this! 🚀

[2016-11-30 23:43] #136 closed

[2016-12-01 06:38] krystiansliwa commented on #139
If I have some free time I will check it on some of my Amazon EC2 Ubuntu instance. If works just add some info about it into documentation :)

[2016-12-01 07:30] frranck commented on #144
@JohnSundell  thanks a lot

[2016-12-01 07:35] laiqahmed440 opened #147 "Unable to add import "Unbox""
I have installed the pod file after adding unbox in it. But, when ever I wrote import "Unbox" in ti my swift file, I got the following error: Unable to find module "Unbox". Can somebody help me in fixing this issue.

[2016-12-01 09:39] JohnSundell commented on #147
@laiqahmed440 Can you verify that Unbox is a part of your workspace, that it is included in `Target Dependencies`, `Link Binary With Libraries` and `Embed Frameworks` in your project's `Build Phases`?

[2016-12-01 10:01] laiqahmed440 commented on #147
I have only add Unbox pod in the Podfile and and install it from the terminal. After that I have included import Unbox in my class which is producing errors. Are there any more steps which I have to follow?

[2016-12-01 10:11] laiqahmed440 commented on #147
Can you please share me the complete procedure of linking Unbox with my project?

[2016-12-01 10:57] frranck commented on #144
PS: do you plan to use swift3 for master ? seems the swift3 branch did not get updated.

[2016-12-01 11:53] JohnSundell commented on #144
@frranck No problems 👍 `master` already uses Swift 3, since `2.0`. The Swift 3 branch is only left in case someone was still using it. Will probably delete in a month or so.

[2016-12-07 15:23] mislavjavor opened #148 "Unbox root dictionary with unknown keys"
The `unbox()` function doesn't support trivial unboxing of root dictionaries with unknown keys

For example:
[code]

"212" and "645" are not known at compile time.

What I expected was an `unbox()` function with a return type `[String: Unboxable]` so I could do

`let model : [String: SomeUnboxable] = try unbox(data: responseData)`

Is there some way to implement this?

[2016-12-12 00:27] benediktreichert opened #149 "Multiple DateFormatters"
Hi,

I need to parse multiple time representations coming from JSON. A `DateFormatter()` instance can only parse one date representation provided on the `dateFormat` property. So I need multiple DateFormatter instances. I can only provide one DateFormatter instance to Unboxer however 😞.

I have done a very dirty workaround with nested try-catch clauses, when the first DateFormatter can not parse t

[2016-12-12 16:17] Czajnikowski opened #150 "Unbox/Wrap anything"
Hi!

I like the simplicity of the API, error handling and type inference at work here. I like the name as well - what I like about it is that it's not limiting to JSON only 😃  My idea is - how about adding support for MessagePack, Plist or other kind of things? I can even find some time in my spare time to help you.

Cheers!

[2016-12-28 12:53] SanjithKanagavel commented on #148
@ JohnSundell Is this possible with the current version ?

[2016-12-28 13:21] VivienGiraud commented on #139
I made so tries with my EC2 instance but as Swift doesn't support `NSURLSession`  I didn't manage to try `Unbox` .
But at least it compile.

[2016-12-28 16:27] clayellis commented on #148
I would serialize the response JSON into a `[String: Any]` as `responseJSON` and then do something like:
[code]
Of course, that does assume that your response JSON has the "unknown" keys at the root of the object.

[2016-12-28 16:49] clayellis commented on #148
On second thought, looks like @JohnSundell has a more "unbox-y" answer over on https://github.com/JohnSundell/Unbox/issues/146
Take a look at that as well.

[2017-01-13 19:59] tamutti opened #154 "When using keypath on empty/nil throws error"
If you attempt to do something like

self.item1 = try unboxer.unbox(keyPath: "i.item1")
self.item2 = try unboxer.unbox(keyPath: "i.item2")

and if i.item1 doesn't exist or it it nil, it will stop and not proceed to item2. To me it should return the default value of what it is you are trying to unbox as defined in the struct or let it be able to be set and not error since erring causes it to exit a

[2017-01-17 09:06] clayellis commented on #154
@tamutti I understand what you're saying about returning default values, but that could have some unintended repercussions in a lot of different scenarios. What if the JSON was invalid or malformed and you tried to unbox your object from it? Should it just create a fully initialized object with default values or should it warn you about the invalid JSON?

Luckily, @JohnSundell considered these sce

[2017-01-17 13:05] tamutti commented on #154
Thanks for the details on this. Unfortunately, scenario 2 raises all kinds of errors if it doesn’t exist. Only solution that has worked was to actually wrap in a do/catch. The try will throw errors in its attempt to unwrap an optional since it doesn’t exist in the json. I know you wouldn’t think so since its general swift code but it is in my case.

Micah

From: Clay Ellis [mailto:notifications@gi

[2017-01-18 05:23] clayellis commented on #154
Actually, if you mark `try` as optional, (like so `if let item1 = try? unbox...` where `try*?*` is key) then you don't need to deal with `do try catch` blocks.

[2017-01-18 05:27] clayellis commented on #154
From Apple's Swift Documentation. [Error Handling > Handling Errors > Converting Errors to Optional Values](https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/ErrorHandling.html)

[2017-01-18 13:18] tamutti commented on #154
Retried but you get errors even in attempts like you posted on

 if let item1: Int? = try? unboxer.unbox(keyPath: "i.item1") {

            self.item1 = item1

        } else {

            self.item1 = 0 // You choose the default value

        }

        self.item2 = try unboxer.unbox(keyPath: "i.item2")

fatal error: unexpectedly found nil while unwrapping an Optional value

self.item1 = item1

[2017-01-18 22:21] clayellis commented on #154
Try this:

`if let item1: Int = try? unboxer.unbox...`

instead of:

`if let item: Int? = try? unboxer.unbox...`

You need to unbox an `Int` not an `Int?`.

[2017-01-19 09:38] AlexanderNorway opened #155 "Unbox ignores error if no value in required fields even if they are many levels deep inside an optional"
I have been using unbox for a long time now and I stumbled upon something kinda strange.

I have a `User` object that contains an optional array `lists`. Even if the `lists` array gets a value it will just get set to `nil` if one of the objects within objects further down is `required` and has `no value`.
This is somewhat expected behavior for Unbox, however I want it to throw all the way up to wh

[2017-01-19 15:23] tamutti commented on #154
That’ll work but you are going to get all kinds of warnings from Xcode about

No calls to throwing functions occur within ‘try’ expression.

Would be better to not have those thrown to satisfy a default.

From: Clay Ellis [mailto:notifications@github.com]
Sent: Wednesday, January 18, 2017 4:22 PM
To: JohnSundell/Unbox <Unbox@noreply.github.com>
Cc: tamutti <m-montoya@tamu.edu>; Mention <mention@no

[2017-01-19 16:29] clayellis commented on #154
@tamutti Would you mind posting your code? Because I'm doing exactly what I've outlined above without any warnings. Sounds like you're getting something confused.

[2017-01-19 16:41] JohnSundell commented on #154
Actually, you shouldn't use `try?` in case of an optional value, simply remove the try and Swift will automatically dispatch to the correct overload of `unbox()` and no error will be thrown in case the value was missing or invalid. Here's an example:

[code]

Check out "Advanced Example" in the README that demonstrates this mechanic.

[2017-01-19 16:47] JohnSundell commented on #150
Thanks for the suggetion @Czajnikowski! I'd like to limit Unbox & Wrap's scopes to handling JSON only - JSON alone as a lot of edge cases that need to be supported, so handling all those other file formats would significantly increase the size and complexity of the libraries - I'd like to keep them as small as possible for maintainability 🙂

[2017-01-19 16:47] #150 closed

[2017-01-19 16:49] JohnSundell commented on #155
Hi @AlexanderNorway! You can use `allowInvalidElements: true` when unboxing the `lists` array, that way Unbox will automatically ignore any invalid elements in the array, without rendering the entire array invalid. Would that work for you?

[2017-01-19 17:00] JohnSundell commented on #149
How about making your own `UnboxFormatter` that takes an array of `DateFormatters` and tries each one, or returns nil?

For example:

[code]

[2017-01-19 17:03] JohnSundell commented on #148
Yes, exactly what @clayellis says, I'd follow the exact same approach as outlined in #146

[2017-01-19 17:03] JohnSundell commented on #148
Closing this one as a duplicate.

[2017-01-19 17:03] #148 closed

[2017-01-19 17:04] JohnSundell commented on #147
@laiqahmed440 Please refer to CocoaPods' documentation on how to include Pods in your project.

[2017-01-19 17:04] #147 closed

[2017-01-19 17:05] JohnSundell commented on #130
I think the detailed release notes on the [Releases page](https://github.com/JohnSundell/Unbox/releases) serves this purpose.

[2017-01-19 17:05] #130 closed

[2017-01-19 17:07] JohnSundell commented on #141
Closing due to inactivity. Feel free to re-open if this question is still relevant.

[2017-01-19 17:07] #141 closed

[2017-01-19 17:08] JohnSundell commented on #146
Closing due to inactivity. Feel free to re-open if this question is still relevant.

[2017-01-19 17:08] #146 closed

[2017-01-19 17:09] JohnSundell commented on #139
Since it compiles, and since there doesn't seem to be huge interest in Linux support, I'm going to close this for now. We can re-open later if this is something we want/need to address 🙂

[2017-01-19 17:09] #139 closed

[2017-01-19 17:15] tamutti commented on #154
This was the solution. Thanks a bunch.

From: John Sundell [mailto:notifications@github.com]
Sent: Thursday, January 19, 2017 10:42 AM
To: JohnSundell/Unbox <Unbox@noreply.github.com>
Cc: tamutti <m-montoya@tamu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [JohnSundell/Unbox] When using keypath on empty/nil throws error (#154)

Actually, you shouldn't use try? in case of an optional val

[2017-01-19 17:17] JohnSundell commented on #154
No problems @tamutti! 👍

[2017-01-19 17:17] #154 closed

[2017-01-20 08:27] AlexanderNorway commented on #155
It`s kinda the opposite of what I want. I want it to just fail if a required field is missing even if inside an optional. I want to catch the error when crating the user object.

[2017-01-20 08:44] JohnSundell commented on #155
Ah, now I understand. How about this:

[code]

[2017-01-20 09:21] AlexanderNorway commented on #155
No calls to throwing functions occur within `try` expression.
`catch` block is unreachable because no errors are thrown in `do` block.

[2017-01-20 09:43] JohnSundell commented on #155
@AlexanderNorway Ah sorry, my bad - that's what I get for writing code directly in the GitHub editor 😝 Updated my comment above, take a look.

[2017-01-20 14:04] AlexanderNorway commented on #155
Hehe, your last edit still gave a compilation error because the initializer returned without initializing all stored properties. 😝

I understood your solution though. For my use case I didn't need the try catch for `lists` as I want to handle it in the try catch I use to make the User object.

[code]

Works perfectly. Thanks!

[2017-01-20 14:21] JohnSundell commented on #155
Right, it was meant as an example, not the whole thing 😄
Perfect, happy that we found a solution! Closing this now 🚀

[2017-01-20 14:21] #155 closed

[2017-01-23 09:55] AlexanderNorway commented on #155
Hi. I probably should have testet a little more thorough on a Friday.
The result of my code above will basically just turn the lists property into a required, which won't work for my case as it may or may not exist.
Any suggestions? :)

[2017-01-24 09:45] codeOfRobin commented on #139
@VivienGiraud On the contrary, `URLSession` works on Linux, just requires a custom session config (`URLSession.shared` is not implemented).
@JohnSundell Can confirm it works on Linux. Example project: https://github.com/codeOfRobin/UnboxExample

[2017-01-24 09:58] JohnSundell commented on #139
@codeOfRobin That's awesome, thanks! 🚀

[2017-01-24 17:35] JohnSundell commented on #155
Alright, so - to list the requirements:

1) If there's no `list` field the parsing for `User` shouldn't fail, it should simply result in a `lists = nil`.
2) If there _is_ a `list` field, it should basically be treated as a required property - in that any invalid element in the `lists` array should make the parsing fail for `User`.

This code should fulfill both of those requirements:

[code]

Basi

[2017-01-25 12:41] mhergon opened #156 "Unbox + Realm native “List” object"
I'm trying to use `Unbox` to make `Realm` object with other related objects inside using `List`. The `JSON` response from server has this structure.

    [
      {
        "name": "bla bla",
        "desc": "bla bla",
        "sequential": true,
        "createdAt": "2017-01-23T09:58:05.095Z",
        "hmImages": [
          {
            "urlBase": "https://blabla.com",
            "fullresPath":

[2017-01-25 13:02] JohnSundell commented on #156
Hi @mhergon! Since there's no guarantee that the elements that `List` contains are unboxable, there's no simple way to add `UnboxableByTransform` support using an extension (since you can't - as of Swift 3.0 - limit protocol conformance with a generic constraint). What I'd do instead, is to write an extension on `Unboxer` that produces a `List<T>`, like this:

[code]

Would that work for you?

[2017-01-25 14:54] mhergon commented on #156
Works fine!
Thanks!

[2017-01-25 14:54] #156 closed

[2017-01-25 15:05] JohnSundell commented on #149
@benediktreichert Does the above solution work for you?

[2017-01-25 19:24] benediktreichert commented on #149
Sorry for the late response! The solution is perfectly fine, I am a bit ashamed that I did not come up with it.
From a framework user view, parsing dates may be such a common task you might consider including it in Unbox without the need of creating an own parser implementation, anyway, I consider this issue closed, may it be helpful to others seeking how to parse multiple dates :-)

[2017-01-25 19:24] #149 closed

[2017-01-26 21:27] JohnSundell commented on #127
Since Swift 2.0 is being deprecated by Apple, I think it's safe to say this won't be fixed 😅

[2017-01-26 21:27] #127 closed

[2017-01-28 23:25] Avtolic opened #158 "Two minor proposals"
Hello! Thank you for Unbox - it is great!
I have two proposals/questions:
1. I think it will be good to mention UnboxFormatter protocol in a readme. It is an important feature and it should be in the docs. Now there is no information about custom formatters except DateFormatter.
2. Do you plan to add some short form of most used `unbox(key:)` method like some other libs do. Compare:
[code]
Thank y

[2017-01-30 17:35] bencallis opened #159 "Decimal unbox support from number"
Currently unbox supports transforming to the `Decimal` type for string values, but it does not support transformation from numbers.

The advantage of using this over `Double` would be to allow us to do more accurate numeric operations on these values.

Something like this should work? Let me know your thoughts. If you are happy I will open a PR.

[code]

[2017-02-01 19:40] JohnSundell commented on #159
Sounds great to me - feel free to make `Decimal` conform to `UnboxableRawType`! 👍

[2017-02-01 19:56] JohnSundell commented on #158
Hi @Avtolic! Thanks for your proposals! 🎉 Added an example on how to use `UnboxFormatter` here: https://github.com/JohnSundell/Unbox/commit/352982b274180eebddc628c914abafe37f88444c

As for operator overloads, there are no plans to add them to Unbox at this point. They can easily be added in an extension, however, for developers that prefer this type of syntax (I'm not one of them 😅)

Closing this

[2017-02-01 19:56] #158 closed

[2017-02-01 20:10] JohnSundell opened #160 "RFC: New top-level API for Swift 3.1"
Hi Unbox users!

Swift 3.1 is coming with Xcode 8.3, and includes the exciting new capability of defining same-type constraints for extensions on generics. With this, I'm planning to change the top-level unboxing API to become (IMO) a lot simpler and nicer.

Right now, unboxing a model is done by calling the global `unbox()` function that comes in a few overloads, that each have different input an

[2017-02-01 20:18] harlanhaskins commented on #160
I think it'd make it much easier given how many people expect autocompletion after pressing `.`.

[2017-02-01 20:21] robertherdzik commented on #160
Cool! this face of Unbox looks way cleaner 😊 💥

[2017-02-01 20:21] icanzilb commented on #160
I can see the benefits of the current syntax though - you always use the same function + XCode shows you an autocomplete with all possible types you can unbox 👍

The new syntax feels cleaner

[2017-02-01 20:30] thomaspaulmann commented on #160
Looks promising to me, it feels super clean and really natural to use, especially with the type inference of Swift 👍
If you need any help to implement the new API, pleas lmk 💪

[2017-02-01 20:31] eliburke commented on #160
👍🏻here.

[2017-02-01 21:12] azimin commented on #160
Yes, it looks cleaner and easier to call 👍💶

[2017-02-01 22:06] BalestraPatrick commented on #160
Big fan of the new syntax. It's shorter and easier to remember.

[2017-02-06 09:56] mislavjavor commented on #160
I *do* think the new syntax is cool, but not sure it's worth breaking the API. Maybe keep both versions without deprecating the old syntax?

[2017-02-06 13:52] bencallis commented on #159
Thanks @JohnSundell . PR open https://github.com/JohnSundell/Unbox/pull/161 . We may want to squash the 2 commits during merge.

[2017-02-10 10:19] bjarkehs opened #162 "Unbox directly to String"
Is it possible to unbox directly to `String`? I can't seem to figure out how.

I'm using something like https://github.com/RyogaK/Moya-Unbox, but one response is just a simple `String` object.

[2017-02-10 12:32] bjarkehs opened #163 "Proposal: Restructure the sources"
Right now everything is in one file, and it is almost impossible to keep track of where stuff is.

Futhermore there seems to be some discrepancies between what you can do with data and what you can do with dictionary.

It would maybe also make sense to allow people to easily get an `UnboxableDictionary` from `Data`. I think right now the API is very confusing if you have data that you haven't mapp

[2017-02-10 12:48] bjarkehs commented on #163
I just realized that my issues with data can be handled by simply creating an `Unboxer` giving it my data, and then unboxing the properties like I do in models.

So:
[code]

I guess I should've realized this sooner. This will at least make a lot of my Marshal cases easier to translate.

[2017-02-10 17:37] JohnSundell commented on #162
Do you simply want to turn `Data` into a `String`? If so then you don't need a JSON decoder, you can just use the standard library:

[code]

If we're talking about a string as a property of a model, decoded from JSON, then you'd use Unbox like this:

[code]

Does any of the above solve your issue?

[2017-02-10 17:40] JohnSundell commented on #159
Implemented in https://github.com/JohnSundell/Unbox/pull/161

[2017-02-10 17:40] #159 closed

[2017-02-11 05:36] bjarkehs commented on #162
Well, basically I have some data that returns a token. So like:

[code]

Say I just want a shorthand to get the `token` of my data. Then I'd first have to decode and then get the `String`. I found a solution for now using `Unboxer` from `Data` and then unboxing like within a model.

Basically I'd like to avoid needing a model just to unbox a single `String` element at a given key. Does it make sen

[2017-02-11 11:55] JohnSundell commented on #162
Yeah that sounds like a good solution, create an Unboxer, then get the `token` string from there! 👍 Then you don't need a model. Can this be closed then?

[2017-02-11 21:59] bjarkehs commented on #162
Yep! 👍

[2017-02-11 21:59] #162 closed

[2017-03-01 05:18] professionalPeter opened #165 "Report full path in path errors?"
Have there been attempts to provide the full path in error messages for object hierarchies? Is there a known reason that this can't or shouldn't be done?

For example, given the following JSON:
[code]

and the following model code:
[code]

I'd love to see:
`[UnboxError] An error occured while unboxing path "bar": The key "bar" is missing at "root.foo[1]"`
instead of
`[UnboxError] An error occured

[2017-03-01 05:26] professionalPeter commented on #165
BTW, thanks for a great library!

[2017-03-04 15:48] christopherpow commented on #160
Love it!

[2017-03-04 15:57] christopherpow opened #166 "How to use with subclasses?"
Say I have the (somewhat hypothetical) following example:

[code]

Perhaps its simple and I'll figure it out, but was just looking through the README for a quick example and didn't find one. Thanks for this wonderful set of packages!

[2017-03-04 22:12] christopherpow commented on #166
More information:
I added the suggested debugging tip to the unbox catch and discovered that my problem is because my type needs to be UnboxableWithContext so I can pass context (obviously...). But collection types don't support this? Only Unboxable?

[2017-03-04 22:54] christopherpow commented on #166
The remaining part being that my array of superclass objects only unboxes as high as the superclass...so Platform unbox initializer is called for all platform objects.

[2017-03-06 16:32] tzaid opened #167 "Unboxing an optional value does not throw."
Unboxing an optional value does not throw. The presence of a value during unboxing should not guarantee its validity. Consider the following structure:

[code]

Unboxing the json structure below should throw. Instead it swallows the missing `"age"` key error.

[code]

Do you think this is something worth changing in the release targeting Swift 3.1 since it will break API?

[2017-03-06 16:58] tzaid commented on #167
You can still achieve the current optional unboxing functionality with `try?`. Although it would need to appear in the model's unbox initializer.

[2017-03-06 17:04] shekibobo commented on #156
What does your `init(unboxer: Unboxer)` method end up looking like for this? I can't write to the property because it's already initialized and it's a `let`. Seems like you'd have to initialize a variable in the initializer and add the items to the property instance of the list.

[2017-03-06 18:45] JohnSundell commented on #167
This is behaving as intended. If the property (in this case `profile`) is not required, Unbox will not throw if the value is missing/invalid. In order to make `profile` required and enable Unbox's throwing behavior, simply make the property non-optional.

[2017-03-06 18:45] #167 closed

[2017-03-06 18:47] JohnSundell commented on #166
So, just to make sure I understand the question, you want to dispatch to different subclasses of `Platform` depending on whether the `friction` or `velocity` key is in the JSON?

[2017-03-06 18:48] JohnSundell commented on #165
This would be a really nice addition to the error API! 👍 Perhaps emit the `root`, since it's a given, and instead make the output path just `foo[1].bar`. Would you like to contribute this as a PR @professionalPeter?

[2017-03-06 19:03] JohnSundell commented on #167
Closing this for now. Let me know if you need any additional support 🙂

[2017-03-06 20:25] christopherpow commented on #166
That was my thinking, yes.

On Mon, Mar 6, 2017 at 12:47 PM, John Sundell <notifications@github.com>
wrote:

[2017-03-06 21:16] tzaid commented on #167
Thanks for the reply!

Does the intended behaviour make sense though? If the property is not required, shouldn't the Unboxer:
* return `.none` if the key is missing.
* return `.some` if the key is present and unboxing succeeds
* throw if unboxing fails

Right now there is no way to differentiate between the absence of a value and a failure while unboxing when using the optional method overloads.

[2017-03-07 12:51] mhergon opened #168 "Behavior when key not present"
Hi,

I have a model like this:

[code]

When I call the `/api/login` returns:
[code]

and all works fine.

The problem comes when I call `/api/token` for refresh main token and returns:
[code]
and the `Unbox` change `refreshToken` value from `izzi2w4qoHJz...` to `null`.

Is there any way to avoid `null` when key is missing on similar responses?

Thanks!

[2017-03-12 23:04] mhergon commented on #168
Any idea?

[2017-03-13 10:10] bencallis opened #169 "Enum with associated values"
How can I use unbox with enum with associated values?

The API I have to work with is something like this:
[code]

The enum I am hoping to use is something like this:
[code]

Arguably the API should be slightly different but this is what we have to work with.

[2017-03-15 16:06] clayellis commented on #168
What would you expect the value of `refreshToken` to be if the key was missing?

[2017-03-15 16:14] mhergon commented on #168
@clayellis I need that old value not change when key is not present.

[2017-03-15 16:38] clayellis commented on #168
[code]

[2017-03-15 19:32] mhergon commented on #168
Works fine! Thanks @clayellis

[2017-03-15 19:32] #168 closed

[2017-03-16 21:52] professionalPeter commented on #165
Yes, I'd like to, however to be honest, I'm it's unclear if/when I'll have the opportunity to. If I can, I definitely will now that I know it's not going against the direction of the project. Thanks!

[2017-03-16 23:20] SuperTango opened #170 "How to unbox a JSON "Dictionary" into a Swift Dictionary (not a Swift Object)."
I asked a similar question in Mantle (https://github.com/Mantle/Mantle/issues/788), but we're moving from Mantle to Unbox, so this applies here too.

Taking from the `advanced example` in the README.md, what if we changed the `SpaceShip` struct from

[code]

to have passengers be a Dictionary like this:

[code]

And then the JSON would look like:

[code]
How would we unbox that?

[2017-03-17 23:25] JohnSundell commented on #170
Hi @SuperTango! This is supported out of the box (no pun intended), simply unbox it:
[code]

[2017-03-17 23:27] JohnSundell commented on #169
How about making the enum conform to `Unboxable`?

[2017-03-17 23:29] JohnSundell commented on #165
Sure, no problems! 👍

[2017-03-18 16:08] SuperTango commented on #170
Great!

[2017-03-20 09:56] bencallis commented on #169
@JohnSundell if I did this would the unboxer passed to the `init` method have visibility of the `declared_transaction_total` considering it is one level up?

Will try see if I can make it work this afternoon.

[2017-03-20 09:58] #170 closed

[2017-03-21 12:43] gperdomor commented on #160
@johannth also update travis to include linux tests please

[2017-03-23 17:30] dalu93 opened #171 "Parse an array of protocols"
I have a protocol as below

[code]

Then I have an object which is `Unboxable` as well and has a property that is an array of `Category`.

[code]

When trying to parse the `Section` structure I get this error
`"Invalid collection element type: Category. Must be UnboxCompatible or Unboxable."`

that it is thrown in `Unbox.swift:324`. The Unbox version is `2.4.0`.
Is there a way to solve this issue?

[2017-03-23 23:24] JohnSundell commented on #171
Hi @dalu93!

This issue has been discussed quite a few times in the past (for example here: https://github.com/JohnSundell/Unbox/issues/25). The problem is that Swift cannot dispatch to an overload of `unbox` since it has no concrete type to use (it only knows that you're looking for `[Category]`, but not which implementation of `Category` to actually use).

I would suggest using a `type` property

[2017-03-24 02:29] christopherpow commented on #166
Any thoughts on this yet? Also I wonder if you could clarify the custom unboxing example. By itself it's not making much sense.

[2017-03-24 07:12] dalu93 commented on #171
@JohnSundell this is exactly what I wanted to get rid of by using protocols. Doesn't matter, luckily I have a `categoryType` value in the JSON which I can use to distinguish the type of items.

[2017-03-24 07:12] #171 closed

[2017-03-24 09:02] JohnSundell commented on #171
@dalu93 Perfect 👍

[2017-03-24 21:12] JohnSundell commented on #166
So this is basically the same problem as discussed in https://github.com/JohnSundell/Unbox/issues/171 (and other issues).

You're looking to dispatch to different implementations of the `Unboxable` protocol depending on the type. You use the custom Unboxing API to achieve this, like this:

[code]

[2017-03-24 21:18] JohnSundell commented on #166
I'm going to add an example like this ☝️ to the README, since this is a quite commonly asked question 😄

[2017-03-25 14:20] christopherpow commented on #166
Thanks John. That was what I was hoping for. It just wasn't clear to me from the existing example in the README how the custom unboxing could be used for my purpose. I suppose the same approach could be used if I had a "type" key in each platform object...instead of having to figure out what type it was by what keys were or weren't present. Still loving this package!

[2017-03-25 14:20] #166 closed

[2017-03-25 15:58] JohnSundell commented on #166
@christopherpow yeah exactly, a `type` key is a very common way to represent polymorphism in JSON 👍 but your approach is just as valid I think. Happy you like Unbox! 🙂

[2017-03-26 21:03] JohnSundell commented on #169
If you make it `Unboxable`, then the dictionary that it will be initialized with will be the value for the `declared_transaction_total` key. Does that work?

[2017-03-27 12:48] bencallis commented on #169
@JohnSundell I made a quick sample in a playground to illustrate the issue I am facing.

`UnboxError] An error occured while unboxing path "error_codes": Invalid value (["amountMismatch", "missingDate", "missingSignature"]) for key "error_codes".`

[UnboxEnum.playground.zip](https://github.com/JohnSundell/Unbox/files/872475/UnboxEnum.playground.zip)

[2017-03-27 17:39] JohnSundell commented on #160
Thanks everybody for your input on this! 🎉

Since the new API has gotten such a positive reaction, and since Swift 3.1 is now out - I'm going to go ahead and implement this 🚀 I'm going to deprecate the old API, so that it still works, but a warning with instructions on how to upgrade to the new API will be emitted. The old API will be removed in Unbox 4.0.

[2017-03-27 22:15] JohnSundell commented on #163
Hi @bjarkehs!

Sorry for taking so long to reply to this. Your suggestions are really good - I've been going back and forth on the pros & cons of having everything in one file. What made me still keep everything in one file for the longest time was for ease of use in scripts & command line tools - but since we now have the Swift Package Manger (Unbox was originally written for Swift 1 😅) and Marat

[2017-03-28 13:21] aventurella commented on #160
I'm sure this is too late, but I figured I'd add my 2c for what it's worth.

While I agree that it's a nice take on taking advantage of a new feature, I have to say I prefer the explicit nature of the original style better:

[code]

`T` is not magically imbued with anything and the call site makes it pretty clear what exactly is happening:

[code]

vs the new style:

[code]

Because  ANY other cod

[2017-03-28 16:46] JohnSundell commented on #160
@aventurella I've only done some preparations for this new API so far, so no worries, there's still time to discuss it 👍

While I see your point and I totally agree libraries should always be good citizens - in practice I don't think this particular case will be much of an issue. Since Swift supports method overloading, the **only** way that this new API could conflict with application code or ano

[2017-03-28 16:51] aventurella commented on #160
Ya, you are right. It won't conflict. So that just leaves the: `the act of importing changes things implicitly` AKA it introduces the type extensions.  This is simply solved with strong documentation, and the README for the projects I think covers that, so I'm not worried there.

My personal taste is that I like to be explicit about things. So I definitely favor `unbox(...)` vs `someVar.unbox()`.

[2017-03-28 17:38] JohnSundell commented on #160
It's good input 👍 both ways have pros & cons, for sure.

The reason I'm still in favor of implementing the new API is that `unbox()` is an action that you take **on the** dictionary/data you are unboxing. The dictionary/data is not merely input into some other kind of operation, it's the actual target of your operation. That's why I think it makes sense to have it as an extension medhod on `Dictio

[2017-03-29 16:27] clayellis commented on #160
The `uppercase(string)` vs `string.uppercased()` is a great example of why this is useful. I remember when the change was made from `for (index, item) in enumerate(items) ...` to `for (index, item) in items.enumerated() ...` — it makes more sense to not use a global function and actually, in my opinion, increases discoverability of the `enumerated()` method. Granted, those using `Unbox` won't just

[2017-03-30 08:01] Maryom opened #172 "How to handle [[String: AnyObject]]"
Hi,

Thanks for your amazing repo. I need to use Unbox to decode array of `[String: AnyObject]` so my struct as follow:

[code]

The JSON response is `[[String: AnyObject]]` as below:

[code]

I used Unbox as follow: `let messageData: Message = try unbox(data: data)`
There is no error in the code, but still I got invalid response!

Any help will be appreciated.

So, I think the best solution is to

[2017-03-30 10:34] Maryom commented on #172
Ok problem solved when we modified the JSON response. Thanks :)

[2017-03-30 10:34] #172 closed

[2017-03-30 18:37] lzell opened #173 "Mapping empty string to nil"
Great library! Is there a recommended approach in place for informing Unbox that all zero-length strings should be transformed to nil?

Here's a test that shows exactly what I mean:
https://github.com/lzell/Unbox/commit/7e0d81c0e3118f316c733f98f6204b15a82c5843

[2017-03-31 09:10] JohnSundell commented on #173
Hi @lzell, happy you like Unbox 😄 I'd recommend using an extension on `Unboxer` to implement this behavior in your app. For example:

[code]

[2017-04-01 12:16] JimDabell opened #174 "Optional fields aren't type safe"
If you have a field that is optional, but the value provided is of the wrong type, then the unboxing succeeds with no value instead of throwing an error.

Example: There is JSON that defines actions that can be taken by making HTTP requests:

[code]

[code]

The media type defines a default value for `method`, which is `GET`.  So the model's property is a non-optional enum, but unboxing needs to b

[2017-04-01 12:36] JohnSundell commented on #174
Hi @JimDabell!

In Unbox, there are two modes to unbox a given value in, either *required* or *optional*. Unbox takes advantage of Swift's type inference to accomplish this, so that if you are unboxing into a property that is of a non-optional type, it will require you to use the `throwing` API, which will throw in case of a missing or mismatched value.

Sot the behavior you're seeing is by design

[2017-04-01 12:39] JohnSundell commented on #160
@clayellis I think you're totally right! Let's go with `unboxed()` 👍 Thanks for bringing this up! 🚀

[2017-04-01 14:31] JimDabell commented on #174
Thanks for the quick response!  I missed the dictionary, that is slightly easier.  The code you supplied isn't what I'm looking for, as you've defined `method` as optional when it's required, but I can see how I can use the dictionary to make things a little easier.

I'm *really* not keen on an API that treats a field it failed to parse as if it were equivalent to a valid absence of a value though

[2017-04-01 15:23] gperdomor commented on #160
The wrap project will follow the same pattern? something.wraped() ?

[2017-04-01 21:30] JohnSundell commented on #160
@gperdomor No, since there's no way of adding a `wrapped()` method to all types currently (and I don't want to limit Wrap to only types conforming to a protocol such as `Wrappable`, I want to be usable with any instance of any type) 🙂

[2017-04-03 11:00] JimDabell commented on #174
I worked around this with the following extension:

[code]

This simplifies the code above to the following:

[code]

I really think that this should be default behaviour though.  An invalid value that can't be parsed isn't the same as a valid absence of a value.  Is there any possibility of changing the default?  You can cater for the use case where you really do want to ignore invalid values sim

[2017-04-03 20:08] JohnSundell commented on #160
I've now started the implementation of this (along with the rest of Unbox 3.0 changes) here: https://github.com/JohnSundell/Unbox/pull/175 🚀

[2017-04-04 17:17] lzell commented on #173
Worked Great! Thanks :)

[2017-04-04 17:17] #173 closed

[2017-04-04 19:25] JohnSundell commented on #173
👍

[2017-04-07 19:21] christianselig opened #177 "Direct use of "Unboxer" object"
99% of the time I use Unboxer, I use it by having an object extend `Unboxable`. But every so often I won't need a full fledged model object for a small URL extraction.

Is it okay to directly initializer `Unboxer()`?

In the case of just wanting to grab a URL, if I try something like:

[code]

I get the delightful `Ambiguous reference to member 'unbox(dictionary:)'` compile-time error.  It's easy

[2017-04-07 20:24] JohnSundell commented on #177
Sure thing, you can totally initialize `Unboxer` in your own code. The initializer is part of the public API 👍.

As for arrays, you can use the custom unboxing API for this:

[code]

This will be a lot cleaner in 3.0 btw:

[code]

Happy you like Unbox 🎉

[2017-04-07 21:07] ChristopherCarranza commented on #174
@JimDabell  the `try?` option that you mentioned in your ending statement is exactly what you should do when you want to default to something for a `let` constant.

[code]

It seems in the discussion there is confusion about unboxing to an optional that you are ok with failing and a constant that should be there or the object isn't valid. Those are really the only 2 cases at a framework level that

[2017-04-07 21:10] christianselig commented on #177
@JohnSundell Awesome, thank you, I was just curious because I didn't see anything in particular in the README, but that makes sense.

Awesome on the array front, cheers! 👍

[2017-04-07 21:10] #177 closed

[2017-04-08 08:46] JohnSundell commented on #177
@christianselig Yeah the README is long overdue for a rehaul. It's basically been the same since Unbox 1.0, over 2 years ago 😅 Will do that as part of 3.0.

[2017-04-12 10:32] joao-jesus opened #178 "Error in using path to access JSON elements"
For the following JSON
[code]
and model,
[code]
the following code
[code]
will give the error.
[code]
The problem is in Unboxer.swift:234, where the comparison of the lastKey cannot be by value.
In the example above will consider the first "1" as the last element of the keyPath, and thus will give an invalid value.

[2017-04-12 13:19] christopherpow commented on #178
I don't see a path to A.B.1.1 in the example. A.B.0.1 is there but not
A.B.1.1.

On Wed, Apr 12, 2017 at 5:32 AM, joao-jesus <notifications@github.com>
wrote:

[2017-04-12 16:04] joao-jesus commented on #178
Add the following unit tests to understand better:
[code]

The example has a dictionary -> dictionary -> array -> array -> UnboxTestSimpleMock
A.B.1.1 for UnboxTestSimpleMock(int: 20)

[2017-04-27 09:59] grundmanise opened #179 "Unbox a JSON with dynamic nested objects"
First of all thank you for such a great library!

I have a question regarding a JSON with dynamic nested objects.

JSON:

[code]

Where each `"parent"` can also have a parent. Parents are dynamic so it can easily be 3-5 parents deep.

How can one  `unbox` this JSON?

Also I don't know how to correctly 'unloop' my model..

[code]

Would be very thankful if anyone can help me.

[2017-04-28 09:37] vhosune opened #180 "Unboxing to Enum Key in Dictionary fails"
JSON
[code]

Code
[code]

unboxing will fail when using ````[SectionType: [SectionObject]]```` but will work when using ````[String: [SectionObject]] ````

[2017-04-29 21:11] JohnSundell commented on #180
Hi @vhosune!

Thanks for submitting this issue 👍

Unboxing into a dictionary of models with enum keys is not a supported feature. I don't think I'd like to add enum support directly, as it's a bit too specific (and can be achieved by simply unboxing into `[String : T]` and then transforming that dictionary's keys into enum values). However, I'm willing to accept a PR that adds support for unboxing

[2017-04-29 21:15] JohnSundell commented on #179
@grundmanise Happy you like Unbox 🎉

If you have recursive references, they need to be reference types (classes). Instead of using a struct for `Type`, you need to use a class. Then, make `Type` conform to `Unboxable` and you should be good to go.

[2017-04-30 08:23] grundmanise commented on #179
When I use it like this:

[code]

with the JSON:

[code]

`print(foo)` prints empty `Type` object.

[2017-04-30 08:29] JohnSundell commented on #179
@grundmanise You can't unbox a dictionary into an array. You can either unbox an array of dictionaries into an array, or start unboxing a dictionary from a given key/keyPath into an array. In this case, update your code to:

[code]

[2017-04-30 08:35] grundmanise commented on #179
@JohnSundell oh, sorry, that's a typo. Actually it was my inattention.. because `print` does not print nested structures.. when I use `dump` everything ok. Thank you for help and directing on the right path.

[2017-04-30 08:35] #179 closed

[2017-04-30 10:27] JohnSundell commented on #179
@grundmanise No problems, happy it worked out 👍

[2017-05-12 21:58] tymphillips commented on #156
@JohnSundell Would that extension be any different for keyPath?

[2017-05-17 17:21] wwe-johndpope opened #183 "enhancement - add instructions to ignore certain exceptions"
add instructions to ignore certain exceptions
http://stackoverflow.com/questions/14370632/ignore-certain-exceptions-when-using-xcodes-all-exceptions-breakpoint

trying to step through app is painful.
<img width="1322" alt="screen shot 2017-05-17 at 1 19 59 pm" src="https://cloud.githubusercontent.com/assets/26149651/26167055/b1e1aa5e-3b03-11e7-94c0-dafeb663c210.png">

[2017-05-17 17:35] clayellis commented on #183
@wwe-johndpope I'd be happy to help, but I'm afraid I don't understand exactly what your question is.

[2017-05-18 09:24] samwize commented on #78
I was similarly misled to think that `unboxFallbackValue()` provides the fallback for the enum. Moreover the protocol `UnboxCompatibleType` is mandatory, so naturally I thought "Oh for enum there's always a fallback, so that is no need to make the type optional. Great."

[2017-05-23 05:37] SuperTango opened #184 "How does one unbox a dictionary of [String:Date]?"
If I have an object that looks like:
[code]

I know I can use a DateFormatter to unbox the `createdAt` variable, but how do I unbox the `idHash`?

The JSON for this object may look like:
[code]

Thanks!

[2017-05-23 06:12] SuperTango commented on #184
Hmmm...seems just passing the DateFormatter seems to automatically work.  I'm not quite sure how that works, but ok.   Thanks.

[2017-05-23 15:51] #184 closed

[2017-05-30 15:03] clayellis commented on #183
@JohnSundell this one can probably be closed if @wwe-johndpope doesn't have any other questions.

[2017-05-30 16:21] JohnSundell commented on #183
Yeah this seems unrelated to Unbox, closing.

[2017-05-30 16:21] #183 closed

[2017-05-30 18:27] JohnSundell commented on #180
Ping @vhosune. Is this something you'd want to add to Unbox, or should I close this issue? 🙂

[2017-06-01 05:04] sarunw opened #185 "Is it possible to parse JSON into nested object"
Say I got JSON like this
[code]
I want to parse to something like

[code]

Does it possible to do this?

[2017-06-01 07:14] clayellis commented on #185
@sarunw welcome to Unbox! Absolutely!

Try this out:
[code]

[2017-06-01 09:15] sarunw commented on #185
Thanks !!!

[2017-06-01 09:15] #185 closed

[2017-06-02 09:58] vhosune commented on #180
I don't see how I would handle failure if the key as new values as it should be backward compatible, and yet if it is malformed...

[2017-06-04 15:16] SuperTango opened #186 "How do you unbox an [[String:Date]]?"
I have the following JSON:
[code]

Where the data is an array of hashes, where each hash is a [String:Date].

How should I setup unbox to decode this?  I setup a DateFormatter to decode the date correctly, but I haven't figured out which `unboxer.unbox` incantation to use.

Thanks.

[2017-06-04 15:34] JohnSundell commented on #186
@SuperTango Can you please post you full JSON, as well as your existing model code. You should be able to just use `unbox(key: "key", formatter: formatter)` to unbox any collection containing dates, but will need to look at your specific usecase to determine exactly how it'll work.

[2017-06-05 15:03] wwe-johndpope commented on #183
problem with  using unbox is that it throws 1000 > of exceptions by it's nature.
Need a way to ignore them. It's a configuration in xcode.
eg. this is a related way to ignore errors using core data.

<img width="741" alt="screen shot 2017-06-05 at 11 01 37 am" src="https://cloud.githubusercontent.com/assets/26149651/26789473/64639e88-49de-11e7-8ad3-6588b4382bce.png">

https://stackoverflow.com/que

[2017-06-05 16:21] SuperTango commented on #186
Unfortunately, I can't put my exact code since it's proprietary.  However, the salient portions of the model and JSON look like:

[code]

JSON:
[code]

Thanks.

[2017-06-08 08:19] bhstrifork opened #191 "Question: Future of Unbox given Codable"
What are the plans for the future of Unbox now that Swift 4 has `Codable`?

[2017-06-08 20:13] JohnSundell commented on #191
Hi @bhstrifork 👋

That's a great question! 👍 I'm planning to keep working on both Unbox & Wrap for the foreseeable future, continuing to improve their APIs and make adjustments for new versions of Swift. Eventually they will probably start using `Codable` under the hood, and at some point they might simply become extensions on top of the `Codable` API, as it evolves and probably becomes more power

[2017-06-11 12:03] garnett opened #192 "Inconsistent behaviour when parsing numbers to NSDecimalNumber"
I'm using Unbox 2.5
Note: originally I've discovered the issues parsing actual JSON, but in order to provide minimal reproducible snippet I'll do things from code.

I have the following structure and I am using `UnboxFormatter` to parse `NSDecimalNumber`, I can't use `Decimal` for various reasons.

[code]

Here is where interesting stuff happens.

### swift 3.1, Xcode8

[code]
Fractional part is l

[2017-06-11 20:38] JohnSundell commented on #192
Very interesting. I debugged this for a few minutes now and found that the `dictionary` that `Unboxer` has even has the truncated value:

[code]

This kind of makes me think that this is a Swift bug. What do you think @garnett?

[2017-06-13 10:11] vhosune commented on #180
I don't know if its new but implementing `UnboxableKey` does the trick

[2017-06-19 16:42] #191 closed

[2017-06-21 19:37] DerCSpringer opened #194 "Unboxing an [[String : Any]] where all arrays make one object"
Hi, I have an Array of Dictionaries of [String : Any].  Each dictionary has different data that pertains to the same model object.  How can I combine all the arrays into one model object?

Model
class DiaryEntry: Object, Unboxable {
    dynamic var uid: Int = 0
    dynamic var o3: Float = 0.0
    dynamic var pm25: Float = 0.0
}

JSON
[
{"DateObserved":"2017-06-21 ",
"HourObserved":11,
"LocalTimeZo

[2017-06-26 00:45] MikeFFG opened #195 "Trouble with parsing an array"
Hi,

Been working with Unbox for a few days with generally good results. One thing, that I feel like should be simple, but I can't quite figure out, is giving me a problem. I have an object "Puzzle" that has a number of nested objects. The issue I'm having is with an array of Characters. When I call unboxer.unbox in the init(unboxer:) function, because it is an array, I don't have a way to put in

[2017-06-26 21:09] MikeFFG commented on #195
FYI I did come up with an acceptable workaround :) But I would love to know if there is a way to do this with unbox!

[2017-06-28 13:00] SuvarnaRatna-DevRabbit opened #196 "parsing coredata objects"
Can we use Unbox with CoreData objects.

If so can you please help me.

[2017-07-12 08:57] jn000 opened #198 "SIGSEGV has occured (Unbox v1.4)"
Hello.

We use Unbox version 1.4, and sometimes SIGSEGV has occured in Unbox processing.

If you have information about similar problem or bug fixes, please teach me.

### Stacktrace

[code]

### iOS version
8.1.2, 10.3.1, 10.3.2.

### How we use Unbox
We use Unbox with Unboxer Struct with properties of String and nested Unboxer Struct.

This problem has occured in our customer's environment, and

[2017-07-12 09:18] JohnSundell commented on #198
Hi @jn000, can you upgrade to the latest version of Unbox (2.5.0)? The version you're using is almost 1,5 years old, so I'm unable to provide support for it.

[2017-07-12 12:33] jn000 commented on #198
@JohnSundell
Thank you for your immediate reply.
We got it and consider your suggestion.

[2017-07-12 12:33] #198 closed

[2017-07-28 11:59] nonec commented on #177
I almost thought I found what I'm looking for with this issue. But I've an additional question ;-)
How do you unbox such JSON Array if there's not a key? Just like the vimeo JSON up there. How would it work if I want to unbox that as [VimeoObject]?

[2017-08-03 00:18] chuynadamas opened #200 "Issue with keyPath with same name property"
Hi! @JohnSundell !

First of all congratulations for your amazing yob! it's very easy to work with JSON using Unbox. In other hands i have the following error with the method ```func unbox<R>(path: UnboxPath, transform: UnboxTransform<R>) throws -> R ``` using the case keyPath.

The function doesn't work properly when you try to acces a property which share the name with another on the path, for e

[2017-08-17 19:26] eonist commented on #160
@JohnSundell Swift 4 brings Decodable and Encodable. Which means no more custom types for every class you make. Whats your thoughts on this?

[2017-09-13 13:47] kannanprasad87 opened #204 "Support for Swift 3.0+"
I could see in the Cocoapods [URL](https://cocoapods.org/pods/Unbox) for unbox, it s mentioned swift version as 3.0.  Will pod version 2.5.0 doesn't work with Swoft 3.0+ ?

[2017-09-18 16:44] JohnSundell commented on #196
@SuvarnaRatna-DevRabbit Sure, you can extend your `NSManagedObject`s to support Unbox, just like any other object, like this:

[code]

[2017-09-18 16:44] #196 closed

[2017-09-18 20:22] iNicson opened #205 "Mapping Array of Arrays having models in them"
I want to map something like this, I am stuck

“list”: [
				[{
					“name”: “Amy",
					“age”: “19”
				}]
]

[2017-09-20 15:07] Wangxiaotao opened #206 "When to support for Support for Swift 4?"

[2017-09-20 15:47] JohnSundell commented on #206
Now https://github.com/JohnSundell/Unbox/pull/207 🙂

[2017-09-20 15:47] JohnSundell commented on #206
But even without that PR Unbox works with Swift 4, since it can run unmodified in Swift 3.2 compatibility mode.

[2017-09-20 15:58] Wangxiaotao commented on #206
all right， thanks

[2017-09-21 20:09] akwilliamson opened #208 "Ambiguous use of `unbox(key:isKeyPath:)` on Xcode 9 GM for unboxing [String]"
Simplified for brevity:

[code]
This worked fine in Xcode 8.3, but in Xcode 9 GM, it throws the error

Any idea why? For what it's worth, I can unbox arrays of objects that conform to `Unboxable` just fine without any errors thrown, but unboxing this array of strings throws a compile time error.

[2017-09-21 21:55] JohnSundell commented on #208
Hey @akwilliamson 👋 Can you try this on the latest `master`? I can't seem to reproduce it.

[2017-09-21 22:44] akwilliamson commented on #208
Huh, a project clean and it went away. Sometimes...*sigh*. Disregard!

[2017-09-21 22:44] #208 closed

[2017-09-22 11:28] JohnSundell commented on #208
Haha yeah, sometimes Xcode works in mysterious ways 😅

[2017-09-25 10:42] forever19735 opened #209 "Module compiled with Swift 3.1 cannot be imported in Swift 3.2"
how to fix it?

[2017-09-25 11:05] #209 closed

[2017-10-04 15:33] johndpope commented on #195
a stab in the dark - (might not work). but this hack has fixed things a couple of times.

extension Word: Unboxable {
    init(unboxer: Unboxer) throws {
        self.startLocation = try unboxer.unbox(keyPath: "startLocation")
        self.orientation = try unboxer.unbox(keyPath: "orientation")
        self.clue = try unboxer.unbox(keyPath: "clue")
        self.clueNumber = try unboxer.unbox(keyPa

[2017-10-04 15:42] johndpope commented on #205
[code]

[2017-10-05 11:18] VivienGiraud opened #211 "Can find any way to unbox this kind of JSON file"
Hi,
Can anyone help me on unboxing this one, it's been 24hrs I'm on it and still nothing relevant :/
`{
  "test": {
    "d": "TTT",
    "o": "AAA",
    "r": [
      {
        "0": [
          {
            "departure": "000000",
            "d": "OOO",
            "arrival": "000100",
            "a": "AAA"
          },
          {
            "1": [
              {
                "departure": "0

[2017-10-08 16:45] snap9 commented on #206
Swift now has built-in JSON stuff doesn't it? Are there any added benefits to Unbox?

[2017-10-10 21:12] akwilliamson opened #212 "Call can throw, but it is not marked with 'try' and the error is not handled"
This used to work (truncated model for brevity):

[code]

Then I updated to 2.5.0 and opening the project in Xcode 9 where now, every property in the model's ```unboxer``` init method throws this error for both Swift 3.2 and Swift 4:

Is this an issue on my end?

[2017-10-18 19:14] akwilliamson commented on #212
I hadn't updated my pods since I integrated Unbox last year with 1.9.0. Looks like the `throws` `try` initialization was added in 2.0.0, so all my models needed to be refactored.

[2017-10-18 19:14] #212 closed

[2017-10-18 21:20] danielCarlosCE opened #214 "Improve Tests target readability"
The tests are great, but since they're all in one long file, with mocks and other types, it makes pretty hard to read and understand them all. How do you guys think about separating them in different files, maybe having the README's sections in mind.

I thought about creating a PR directly, but it's probably better to come ask here first, since it's a long task.

[2017-10-20 20:11] JohnSundell commented on #214
Totally agree @danielCarlosCE 👍 Feel free to work on this, but please don't submit one big PR that changes all the tests (that will take a long time to review), but rather do it in smaller chunks, moving things out into separate files section by section. Great initiative, the tests could use a big face lift in general, they were originally written when Unbox was a small framework written in Swift

[2017-10-20 23:34] hawkwood commented on #208
I am having this issue too.  I'm using Xcode 9.0.1, Unbox 1.9.0, I've cleaned, deleted derived data, even deleted my repo and re-pulled, but the error still shows.  Interestingly, if I change the class from `String` to `Int` it compiles fine, but I need strings. If I comment out:
public func unbox<T: Collection>(key: String, isKeyPath: Bool = true) -> [T] {...}
The error comes and goes, but the co

[2017-10-21 08:36] JohnSundell commented on #204
Unbox currently supports Swift 3.1 and later.

[2017-10-21 08:37] JohnSundell commented on #206
@snap9 please see this issue: https://github.com/JohnSundell/Unbox/issues/191, for my answer to that question.

[2017-10-21 08:37] #206 closed

[2017-10-21 08:51] JohnSundell commented on #204
It should actually work just fine with Swift 3.0 as well. What is the exact error that you are encountering @kannanprasad87? 🤔

[2017-11-29 21:08] marcosjvivar opened #215 "Unboxing an array with different objects structure"
I want to parse this payload with Unbox but I couldn't find a way to make a `performCustomUnboxing` call to successfully populate an array with 3 different types of objects (Playlist, Person and Video).

This is an actual result JSON from a Amazon Cloud Search request:

`{
  "status": {
    "rid": "t8/O*h4y569yh43ks==",
    "time_milliseconds": 1
  },
  "results": {
    "count": 3,
    "start": 0,

[2017-11-29 21:18] JohnSundell commented on #215
Hi @marcosjvivar 👋 Thanks for filing an issue, so much easier to help you out with a real example 😄
Can you also show me what your model code looks like? Do `Playlist`, `Person` and `Video` share a protocol or a common superclass?

[2017-11-30 14:17] marcosjvivar commented on #215
Hi @JohnSundell!
We are actually using struct instead of classes since they're plain TDO without business logic:

`
struct AWSBaseModel: Unboxable {

    var id: String
    var title: String
    var changed: String?
    var ctype: String
    var source: String?
    var fieldID: String

    public init() {

        id = "000"
        title = ""
        changed = "2000-01-01T00:00:00Z"
        ctype

[2017-12-01 13:23] SuvarnaRatna-DevRabbit opened #216 "Save to userDefaults"
Iam using your library in my project.

How to save custom object to userDefaults in swift 4?

[2017-12-01 16:42] wwe-johndpope commented on #215
so there should be a superset
say

AWSEntity
id:String
fields:[AWSField]

"id": "98341j",
        "fields": {
          "body": "Bitcoin at $10,000. You can now buy ten new iPhone X phones with one of these.",
          "subscription": "Free",
          "air_date": "2016-06-13T21:17:00Z",
          "title": "Let's start buying bitcoins to hoard profit",
          "safe_body": "Bitcoin at $10,000.

[2017-12-01 18:55] wwe-johndpope commented on #211
@JohnSundell  - is this additional code necessary for pulling out array items?
I was expecting this extra code to not be needed but seems like problem never goes away.

 extension unbx_TEA_direction: Unboxable {
    init(unboxer: Unboxer) {
        self.o = unboxer.unbox(key: "o")
        self.d = unboxer.unbox(key: "d")
self.r  = try? Unboxer.performCustomUnboxing(dictionary: unboxer.dictionary,

[2017-12-01 19:14] wwe-johndpope commented on #211
@VivienGiraud  also this may help https://github.com/search?q=Unboxer.performCustomUnboxing&type=Code&utf8=%E2%9C%93

[2017-12-01 19:29] johndpope commented on #211
you can also throw in a try catch to help pin point errors.

<img width="724" alt="screen shot 2017-12-01 at 2 28 55 pm" src="https://user-images.githubusercontent.com/289994/33499702-06d37b78-d6a4-11e7-8317-2b17980b48f3.png">

[2017-12-01 23:17] johndpope commented on #211
funnily - actually bumping into this exact problem myself.
ignore the above.

you can dig iterate over the dictionary keys - and manually create the object.

<img width="434" alt="screen shot 2017-12-01 at 6 16 58 pm" src="https://user-images.githubusercontent.com/289994/33507658-e0b1826c-d6c3-11e7-80f3-275578d17ea0.png">

[code]

Ideally Unbox needs a way to do a tuple cast for this use case.

[2017-12-06 12:56] codeOfRobin opened #217 "Optional `unbox`ing does not throw?"
Hey!

Question about how unbox works with optionals. Take the following code, for example

[code]

Is there a special implementation for optionals that doesn't throw and just returns `nil` ?

[2017-12-06 20:09] JohnSundell commented on #217
Hey @codeOfRobin!

Unbox has two ways of decoding your JSON values, either they are required (and will throw if they are missing or invalid), or they are optional and nil will be returned if they are missing/invalid.

[2018-01-12 23:05] klundberg opened #218 "Question/Proposal: attempting multiple keys for a single unbox call?"
Hello!
At my company, we've made some custom changes to a local version of Unbox, and I was wondering what you think about pulling those changes into the main repository?

Today we use snake_case keys to unbox our json, but in the future we might migrate over to using camelCase keys, and we want to be able to handle this in a backwards compatible way so that we don't need to force upgrades for old

[2018-01-15 19:14] klundberg commented on #217
I can see value in throwing an error if the property I'm trying to unbox to is an incompatible type, even if the property is optional. Could a future version of Unbox be built in that way? perhaps there could be a version that returns an optional and also throws for this case, and for cases where the developer may not care if the type is wrong, they could just use `try?` perhaps? It'd be a breakin

[2018-01-16 05:23] dfdumaresq opened #220 "Trouble with nested arrays"
Hi John, could you give me some guidance on unboxing the relatedRecords nested within the records array in the example below?
[code]
I've setup my models as:
[code]
But the error I'm getting is:
```Unable to Unbox Response Due to Error ([UnboxError] An error occurred while unboxing path "records[0].relatedRecords": The key "records[0]" is missing.)```

Many thanks!

[2018-01-17 16:52] clayellis commented on #217
That sounds like a very specific use case, @klundberg. I'm not sure the approach is intuitive or would be widely accepted by the Unbox community (especially since it would require extensive refactoring). I have a couple specific cases that I've written extensions for, myself. Perhaps the same approach would be sufficient for you?

[2018-01-17 20:33] klundberg commented on #217
Sure, maybe it is a bit specific. I guess I'm trying to accomodate the current behavior while also adding something a bit more strict. I would love to be able to use unbox to flag if an optional Int is actually coming through via JSON as a String, though, instead of swallowing that error and just returning nil. I'll experiment with some extensions to see what I can do!

[2018-01-18 05:29] dfdumaresq commented on #220
I found my trouble, I was enclosing the array index with brackets.
This works
[code]

[2018-01-18 05:29] #220 closed

[2018-02-22 23:11] eholley commented on #192
Float is a 32-bit value. It's unable to precisely represent 11227458.17.

print(Double(11227458.17))
print(Float(11227458.17))
print(Double(Float(11227458.17)))
let json = "{\"value\":11227458.17}"
let dict = try! JSONSerialization.jsonObject(with: json.data(using: .utf8)!, options: []) as! [String: Any]
print(dict["value"]!)

Output:
11227458.17
1.12275e+07
11227458.0
11227458.17

Prefer 64-bit D

[2018-03-01 21:13] SuperTango opened #221 "Is it possible to Unbox/Wrap a object with Generic type?"
I have the following object, that implements a protocol:
[code]

Is it possible to unbox a `CacheElement`?

[2018-03-01 21:17] SuperTango commented on #221
Whoops, missed some code.  I'm trying to unbox `CacheElement` like this:

[code]

But I can't seem to get it Unbox to be able to figure out the type.  I'm betting it has to do with the Generic type, but I wanted to see if there was a way to do this anyway.  Thanks.

[2018-03-20 10:27] pavankataria opened #222 "How does unbox parse a heterogeneous array with inherited classes?"
Hi John, I was reading an article on deserialisation in swift and wondered how Unbox would achieve the scenario described in the article:

https://medium.com/tsengineering/swift-4-0-codable-decoding-subclasses-inherited-classes-heterogeneous-arrays-ee3e180eb556

In short, drink is a base class, and beer, water, and orangeJuice are subclasses with their own required deserialisable properties. And h

[2018-06-10 14:40] pavankataria commented on #218
I was looking for this exact same feature and couldn't find anything in the codebase. My initial thought on how this might work would be to pass in multiple keys to fallback to. I am in the process of creating new apis which returns json which returns different keys for the same model.

I have other apis which still use the legacy keys but still needs to be operational until I can migrate them ove

[2018-07-16 11:49] danibachar opened #225 "t from string"

[2018-07-16 11:49] #225 closed

[2018-07-18 05:05] Huandv opened #226 "Unbox json data twitter api Swift4"
Hi,
First, thanks for your work, this project is really cool :)

Im have problem when try get value some key of data.

Here is my data:

`{
    "created_at" = "Tue Jul 10 11:13:55 +0000 2018";
    text = "tests https://t.co/Tr48QVGXZ8";
    user =         {
        name = HuanCAO;
        "screen_name" = HuanCAO93;
    };
},
    {
    "created_at" = "Tue Jul 10 10:19:53 +0000 2018";
    text = "ju

[2018-07-18 17:10] clayellis commented on #226
Hi @Huandv! Welcome to Unbox! Well, your first issue is that the data you're trying to Unbox isn't valid JSON. Did you get that from an actual API? I'll assume that at some point had a valid JSON response and printed it out and it got mangled or something — but I'm guessing it was originally in this format:

[code]

First of all, when Unboxing dates, you need to provide the unboxer a formatter so

[2018-07-19 09:40] Huandv commented on #226
Hi clayellis, thanks you so much!

[2018-07-19 09:41] Huandv commented on #226
Hi @clayellis , thank you so much!
It's worked.

[2018-07-19 15:37] clayellis commented on #226
@Huandv glad to help and glad it's working for you! Would you mind closing this issue?

[2018-07-20 06:03] Huandv commented on #226
@clayellis yes !

[2018-07-20 06:03] #226 closed

[2018-07-20 17:08] clayellis commented on #222
@pavankataria I've referred to that article a couple times myself when using `Codable`. Here's how I would approach the same problem using `Unbox`:

[code]

The main idea here is to use an intermediate object `DrinkContainer` which we can use as a homogenous container (it can contain any type of `Drink`). As we unbox those containers, we determine what type of `Drink` it contains using a `DrinkTyp

[2018-07-20 17:18] clayellis commented on #221
Hi @SuperTango, a couple things:

1. `CacheElement` needs to declare conformance to `Unboxable` — it has the correct `init(unboxer:)`, but the compiler needs the `CacheElement` to _tell_ it that it does.

2. In the second block of code, unless `T` if defined somewhere above in the code that just wasn't included, you need to provide a type that conforms to `ObjectCacheable` (and by extension, to `U

[2018-07-20 23:32] pavankataria commented on #222
Hey @clayellis. This was more of a what if scenario as I have required this feature before and solved this in other ways before I started using Unbox. Using factory classes and so on. I'll bookmark this for when I need it. Thank you.

[2018-07-20 23:32] #222 closed

[2018-07-28 02:51] iOSDev33 opened #227 "Not getting JSON boolean"
Having problems unboxing JSON booleans, Basically I am getting a "1" or "0" instead of true or false which is whats in the JSON payload. Please see some code below.

[code]

[2018-07-30 16:47] iOSDev33 commented on #227
Never mind, I got it figured out.

[2018-07-30 16:47] #227 closed

[2018-10-30 18:02] ssayfulin69 opened #231 "How do I unbox key to struct property?"
I have a struct
[code]
and json dictionary
[code]

How can I parse this json to struct A so that object will set keys (`"name1"`) to `name` property, and values (`1`) to `value` property?

[2018-11-09 12:33] comm1x opened #232 "Incorrect number mapping"
When we try to write "json-float" into `Int` variable, we expect that it will fails. But Unbox wont.

Int <- 3.3 # Expect error, but it will be round to 3
Int <- "3" # It will be parsed and set, may be it's ok, but I think this should be configurable (to parse or to fail)

Unbox 3.0

[2018-12-26 18:00] nikoagge commented on #143
So what's the solution to that problem?

[2018-12-26 18:20] nikoagge opened #234 "Error when trying to unbox json key with underscore."
Well I 'm trying to unbox a keyPath of a json key with underscore in it, like this self.riskEvidenceConfidenceIntervalMax = try unboxer.unbox(keyPath: "confidence_interval_max.value") but all I get is this: An error occurred while unboxing path "confidence_interval_max.value": The key "confidence_interval_max.value" is missing.

Any suggestion how can I solve this?

[2018-12-27 13:08] #234 closed

[2019-01-17 05:09] hechen opened #236 "Release 3.0 has a version mistake in .podspec"
Hi, John

So appreciate your work on the amazing work.

I find 3.0 Release has a version mismatch on the podspec file.

[code]

[2019-01-18 01:32] Liaojiahao opened #237 "why optional field throw errorClosure() in swift 4.2?"

[2019-01-30 15:56] GolombYotam opened #238 "isKeyExists funcationallity"
Hey,
Is it possible to have an 'isKeyExists' function, thus no need to try parsing a key that isn't in the payload? Thanx

[2019-03-26 15:40] DarkDust commented on #236
Same is true for 3.1.0.

[2019-03-28 15:22] fiteroc opened #241 "Version 3.0.0 and 3.1.0 generate cyclic method calling in the new version of XCode 10.2"
The problem occurs after converting a project to Swift 5 and the cyclic method calling occurs with this method which appears to call upon itself:

    public func unbox<T: UnboxCompatible>(key: String) -> T? {
        return try? self.unbox(key: key)
    }

Also the version 3.1.0 is not available on Cocoapods. Please check that out as well. Thanks!

[2019-03-29 01:59] ZeroOnet commented on #241
I also meet this problem because of try?. In Swift 5 mode, try? is modified:

[2019-03-29 07:26] pbeo commented on #241
I fixed it here #242

[2019-03-29 09:59] fiteroc commented on #241
The fix is good. Thanks! Waiting for new version!

[2019-04-02 18:38] nikoagge commented on #154
Well I show and tried your proposals but with no luck. Actually my problem is that my data is complex so I use keyPath but I don't know what to do when keyPath is missing.

[2019-04-02 19:51] nikoagge opened #244 "How to handle when keyPath is missing?"
Well I see advanced example and tried all the proposed solutions on older issues when some key from a JSON struct is missing but my issue is a little different. I have a complex JSON struct and have problem when keyPath value changes, in other words sometimes is "label.value", and some other times "enum_values.value", how to handle this? Tried to assign nil when keyPath is missing but it's still f

[2019-04-03 13:39] eliburke commented on #241
I still get warnings even using @pbeo 's fix branch.

[code]
Produces an error: "Ambiguous reference to member 'unbox(key:)'"

[code]
Produces the warning: "No calls to throwing functions occur within 'try' expression"

[code]
Produces the warning: "No calls to throwing functions occur within 'try' expression"

Can this be fixed within Unbox or do I now need to wrap this type of construct in _do .

[2019-04-03 15:26] eliburke commented on #241
Well.. I'm glad I spent 10 minutes writing that message. @JohnSundell 's Swift5 update addresses my various issues (after some frenzied refactoring)

Thanks @JohnSundell !

[2019-04-03 15:55] JohnSundell commented on #241
No worries, happy to help! 🙂 Closing this now since it's fixed both on `master` and version `4.0.0`, containing the fix, has been released on CocoaPods. Thanks everyone 👍

[2019-04-03 15:55] #241 closed

[2019-04-04 10:00] ZeroOnet commented on #241
Thanks!

[2019-04-06 12:01] JohnSundell commented on #236
Hey @hechen, @DarkDust,

This is because of a chicken-and-egg problem when pushing to CocoaPods trunk - which requires you to release a version on GitHub before you're able to push your Podspec to the trunk. However, as long as you fetch Unbox from CocoaPods trunk, then the podspec in this repo doesn't really matter - since the updated version is stored with CocoaPods. But I've now updated `master

[2019-04-06 12:01] #236 closed

[2019-04-07 09:34] andresbrun opened #246 "Issue with UnboxPathNode using static instead of dynamic framework"
Hi John,

first I have to thank you for your library, I really like it :)

Recently we migrated to Swift 5 and start using the version 4.0.0 of your library and we have started to experimenting issues mainly with keyPaths.

![image](https://user-images.githubusercontent.com/2039612/55681621-9f701f00-5928-11e9-9d04-9c88fc8c3502.png)

This happens with the following JSON:

![image](https://user-imag

[2019-04-07 20:12] JohnSundell commented on #246
Hey @andresbrun! Glad to hear you like Unbox. Could you please submit a test that reproduces the above issue as a PR and I'll have a look at it? 🙂

[2019-04-08 06:06] andresbrun commented on #246
It is going to be complicated but I will try. The issue happens when I add this library statically instead of dynamically to my project. It is like the extensions that are defined in "unused" files (Dictionary+Unbox.swift) are invisible until the you touch something from that file ¯\_(ツ)_/¯.

[2019-04-08 11:15] andresbrun commented on #246
I've found out this is a known Swift issue (https://bugs.swift.org/browse/SR-6004) so I can close this Issue. Thanks!

[2019-04-08 11:15] #246 closed

[2019-04-08 14:17] JohnSundell opened #248 "Deprecation"
Hi everyone,

After close to four years of building, supporting, and maintaining Unbox - I've now deprecated it in favor of `Codable`, and my new Codextended project (which extends Codable with a very *"Unbox-like"* API).

As of a few months ago, I'm no longer using Unbox myself, and encourage everyone still using it to also move to `Codable` - which is undoubtedly the most future-proof way of dec

[2019-04-08 22:15] clayellis commented on #248
It's been fun @JohnSundell! Thanks for all of your hard work in making unboxing JSON fun and manageable pre-`Codable`!

[2019-04-09 07:37] JohnSundell commented on #248
My pleasure @clayellis, and thanks for your contributions 😀 It's been quite a ride indeed 🙂

[2019-04-29 19:28] eliburke commented on #248
@JohnSundell I'm starting to try and switch over to Codextended. Hit a snag and I'm not sure what I'm doing wrong or if there is a fix needed for Codextended.

My API can return single objects, or arrays of objects. I define a ResultSet that I use to loop and pull down a full set of data, and then do a second pass to Unbox individual objects.

The ResultSet looks like this:
[code]

The integers wo

[2019-05-03 15:12] eliburke commented on #248
After fighting with this for three days I can only conclude that what I want is not possible. It would be great if the SingleValueContainer or the JSONDecoder had some sneaky way to access the original bytes of the input Data, but I can't find anything.

For the specific problem in my previous message (a generic list wrapper around arrays of different objects) I was able to solve it with generics